<div class="container-fluid">

    <div class="row m-3">

        <div class="text-center">

            <h4>Hi</h4>

            <i class="fas fa-check-circle fa-lg"></i>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum odio fugit corporis minus! Molestiae, beatae animi, nisi nostrum libero sit accusantium cumque illo cupiditate quidem totam! Dolore necessitatibus laudantium id. Nemo vero quam ea. Tempora voluptatum mollitia vel. Adipisci est suscipit fuga earum? Fuga est dignissimos odit recusandae, ea dolor?</p>

        </div>

    </div>

</div>