<!-- Footer Section -->
<!-- <footer class="page-footer font-small blue pt-4 footer-gradient"> -->

    <!-- Footer Links -->
    <!-- <div class="container-fluid text-center text-md-left"> -->

        <!-- Grid row -->
        <!-- <div class="row"> -->



            <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

            <!-- Grid column -->
            <!-- <div class="col-md-6 mb-md-0 mb-3"> -->

                <!-- Links -->

                <!-- <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase text-center text-white">Information</h3>
                    </div> -->
                <!-- </div>

                <div class="row"> -->
                    <!-- <div class="col-md-6 text-right col-12">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a routerLink="/faq">FAQs</a>
                            </li>
                            <li>
                                <a href="#!">Blogs</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-md-6 text-left col-12">
                        <ul class="list-unstyled">
                            <li>
                                <a routerLink="/terms-and-conditions">Terms of Use</a>
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#!">Covid-19</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div> -->
            <!-- Grid column -->



            <!-- Grid column -->
            <!-- <div class="col-md-6 mt-md-0 mt-3 mb-2"> -->

                <!-- Content -->
                <!-- <h3 class="text-uppercase text-white">Contact Us</h3>

                <div class="d-flex justify-content-start align-items-center pb-3">
                    <div>
                        <img src="../../../assets/images/location.png" alt="" class="img-fluid mr-3" style="width: 55px;">
                    </div>
                    <div>
                        <p style="margin-bottom: 0;">
                            31, 2nd floor, Sant Nagar, East of Kailash, <br>New Delhi -
                            110065 (India)</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start ">
                    <div>
                        <img src="../../../assets/images/support.png" alt="" class="img-fluid mr-3" style="width: 55px;">
                    </div>
                    <div>
                        <p style="margin-bottom: 0;">contact@clorev.com</p>
                        <p style="margin-bottom: 0px;">+91-9759999055</p>
                    </div>

                </div> -->
                <!-- Grid column -->

            <!-- </div> -->
            <!-- Grid row -->

        <!-- </div> -->
        <!-- Footer Links -->

        <!-- <div style="height: 2px; background-color: black;"></div> -->

        <!-- Copyright -->
        <!-- <div class="footer-copyright text-center py-3">© 2020 Clorev: All right reserved. </div> -->
        <!-- Copyright -->
    <!-- </div>

</footer> -->
<!-- Footer Section -->

<!-- 

<footer class="footer-section">
    <div class="container-fluid">
        <div class="footer-content pt-5 pb-3">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h2 class="text-uppercase text-center text-white">Information</h2>

                        <div class="d-flex justify-content-start align-items-center pb-3 mt-3">
                            <div >
                                <i  class="fa fa-info" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p style="margin-bottom: 0;">
                                    <a href="#!"> About</a></p>
                            </div>

                            <div>
                                <i  id="i2" class="fa fa-get-pocket" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p style="margin-bottom: 0;">
                                    <a routerLink="/terms-and-conditions" >Terms of Use</a>
                            </div>
                             
                        </div>

                        <div class="d-flex justify-content-start align-items-center pb-3">
                            <div>
                                <i class="fa fa-question" aria-hidden="true"  ></i>
                            </div>
                            <div>
                                <p style="margin-bottom: 0;">
                                    <a routerLink="/faq" style="color:black;">FAQs </a></p>
                            </div>

                            <div>
                                <i id="i2" class="fa fa-lock" aria-hidden="true"  ></i>
                            </div>
                            <div>
                                <p style="margin-bottom: 0;">
                                    <a href="#!">Privacy Policy</a></p>
                            </div>
                             
                        </div>

                        <div class="d-flex justify-content-start align-items-center pb-2">
                            <div>
                                <i class="fa fa-inbox" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p style="margin-bottom: 0;">
                                    <a href="#!">Blogs</a></p>
                            </div>
                    
                            <div>
                            <i id="i2" class="fa fa-envelope-open" aria-hidden="true"></i></div>
                            <div>
                            <p style="margin-bottom: 0;">
                                    <a href="#!">Responsible Disclosure Policy</a></p>
                            </div>
                        </div> -->

                        
                        
                            <!-- <div class="col-md-4"></div>
                            <div class="col-md-2 text-left">
                                <ul class="list-unstyled text-dark ">
                                    <li>
                                        <a href="#!" style="color:black;"><i class="fa fa-info" aria-hidden="true"  style="margin-right: 5px;"></i> About</a>
                                    </li>
                                    <li>
                                        <a routerLink="/faq" style="color:black;"><i class="fa fa-question" aria-hidden="true"  style="margin-right: 5px;margin-left: -2px;"></i> FAQs</a>
                                    </li>
                                    <li>
                                        <a href="#!" style="color:black;"><i class="fa fa-inbox" aria-hidden="true" style="margin-right: 4px;margin-left: -3px;"></i> Blogs</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6 text-left">
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/terms-and-conditions" style="color:black;"><i class="fa fa-get-pocket" aria-hidden="true"  style="margin-right: 5px;"></i> Terms of Use</a>
                                    </li>
                                    <li>
                                        <a href="#!" style="color:black;"><i class="fa fa-lock" aria-hidden="true"  style="margin-right: 12px;"></i> Privacy Policy</a>
                                    </li>
                                    <li>
                                     <a href="#!" style="color:black;"><i class="fa fa-envelope-open" aria-hidden="true"  style="margin-right: 5px;"></i> Responsible Disclosure Policy</a>
                                    </li>

                                </ul>
                            </div>-->
                    <!-- </div>
                </div> 
                <div class="col">
                    <h2 class="text-uppercase text-white">Contact Us</h2>

                        <div class="d-flex justify-content-start align-items-center pb-3">
                            <div>
                                <img src="../../../assets/images/location.png" alt="" class="img-fluid mr-3" style="width: 55px;">
                            </div>
                            <div>
                                <p style="margin-bottom: 0;">
                                    31, 2nd floor, Sant Nagar, East of Kailash, <br>New Delhi -
                                    110065 (India)</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start ">
                            <div>
                                <img src="../../../assets/images/support1.png" alt="" class="img-fluid mr-3" style="width: 55px;">
                            </div>
                            <div>
                               <p> <a  href="mailto:support@clorev.com" style="margin-bottom: 0px; color: #000;">support@clorev.com</a><br/>
                                <a href="tel:+91-97599 99055" style="color: #000;">+91-97599 99055</a></p>
                                
                            </div>
        
                        </div>
                 </div>   
            </div>
            <br>
            <br>
            <div class="clearfix"></div>
                <div style="height: 2px; background-color: black;"></div>
                <div class="footer-copyright text-center pt-3">© 2023 CLOREV Laundry: All right reserved.</div>
        </div>
    </div>

</footer> -->


<footer class="footer-section">
    <div class="container-fluid">
        <div class="footer-content pt-5 pb-3">
            <div class="footer-content-inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <h2 class="text-uppercase text-white ">Information</h2>
                            <div class="row">
                                <div class="col sectionB">
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2 ">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
                                                <!-- <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 192 512"><! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. <path d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z"/></svg> -->
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;margin-left:-3px !important">
                                                    <a href="#!" class="hover_footer"> About</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <!-- <i class="fa fa-question" aria-hidden="true"></i> -->
                                                <!-- <i class="fa-solid fa-clipboard-question"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM105.8 229.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L216 328.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V314.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H158.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM160 416a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>

                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <!-- <a routerLink="/faq" style="color:black;" class="hover_footer">FAQs </a> -->
                                                    <a routerLink="#!" style="color:black;" class="hover_footer">FAQs </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-2 mt-2">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <!-- <i class="fa fa-inbox" aria-hidden="true"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 32c0 17.7 14.3 32 32 32c123.7 0 224 100.3 224 224c0 17.7 14.3 32 32 32s32-14.3 32-32C512 128.9 383.1 0 224 0c-17.7 0-32 14.3-32 32zm0 96c0 17.7 14.3 32 32 32c70.7 0 128 57.3 128 128c0 17.7 14.3 32 32 32s32-14.3 32-32c0-106-86-192-192-192c-17.7 0-32 14.3-32 32zM96 144c0-26.5-21.5-48-48-48S0 117.5 0 144V368c0 79.5 64.5 144 144 144s144-64.5 144-144s-64.5-144-144-144H128v96h16c26.5 0 48 21.5 48 48s-21.5 48-48 48s-48-21.5-48-48V144z"/></svg>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;margin-left:-3px !important">
                                                    <a href="#!" class="hover_footer">Blogs</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                        <div class="d-flex terms">
                                            <div class="mr-3">
                                                <!-- <i id="i2" class="fa fa-get-pocket" aria-hidden="true"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v47l-92.8 37.1c-21.3 8.5-35.2 29.1-35.2 52c0 56.6 18.9 148 94.2 208.3c-9 4.8-19.3 7.6-30.2 7.6H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm39.1 97.7c5.7-2.3 12.1-2.3 17.8 0l120 48C570 277.4 576 286.2 576 296c0 63.3-25.9 168.8-134.8 214.2c-5.9 2.5-12.6 2.5-18.5 0C313.9 464.8 288 359.3 288 296c0-9.8 6-18.6 15.1-22.3l120-48zM527.4 312L432 273.8V461.7c68.2-33 91.5-99 95.4-149.7z"/></svg>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a  routerLink="/terms-and-conditions" class="hover_footer">Terms of Use</a>
                                                    <!-- <a href="/terms-and-conditions" routerLink="/terms-and-conditions" class="hover_footer">Terms of Use</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2 ">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <!-- <i id="i2" class="fa fa-lock" aria-hidden="true"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H392.6c-5.4-9.4-8.6-20.3-8.6-32V352c0-2.1 .1-4.2 .3-6.3c-31-26-71-41.7-114.6-41.7H178.3zM528 240c17.7 0 32 14.3 32 32v48H496V272c0-17.7 14.3-32 32-32zm-80 32v48c-17.7 0-32 14.3-32 32V480c0 17.7 14.3 32 32 32H608c17.7 0 32-14.3 32-32V352c0-17.7-14.3-32-32-32V272c0-44.2-35.8-80-80-80s-80 35.8-80 80z"/></svg>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <!-- <a href="/privacy-policy" class="hover_footer">Privacy Policy</a> -->
                                                    <a routerLink="/privacy-policy" class="hover_footer">Privacy Policy</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <!-- <i id="i2" class="fa fa-envelope-open" aria-hidden="true"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 96c0-35.3 28.7-64 64-64H512c35.3 0 64 28.7 64 64V352H512V96H128V352H64V96zM0 403.2C0 392.6 8.6 384 19.2 384H620.8c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8H76.8C34.4 480 0 445.6 0 403.2zM281 209l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-48-48c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM393 175l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/></svg>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a routerLink="/responsile-disclosure-policy" class="hover_footer">Responsible Disclosure Policy</a>
                                                    <!-- <a href="/responsile-disclosure-policy" class="hover_footer">Responsible Disclosure Policy</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 contactus">
                            <h2 class="text-uppercase text-white">Contact Us</h2>
                            <div class="d-flex justify-content-start align-items-center mt-2">
                                <div>
                                    <img src="../../../assets/images/location.png" alt="" 
                                        style="width: 45px; height: 45px;">
                                </div>
                                <div >
                                  <a href="https://goo.gl/maps/QhNR8A4iJwZWaiHe8" class="hover_footer" target="_blank">
                                    <p style="margin-bottom: 0;" class="pl-4 hover_footer" >
                                        1899B,1st Floor, Kotla Mubarakpur, Opp B-50, SouthEx Part-1, New Delhi -110003 (India)</p>
                                  </a>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3">
                                <div>
                                    <img src="../../../assets/images/support1.png" alt=""
                                        style="width: 45px;height: 45px;">
                                </div>
                                <div>
                                    <p class="pl-4"> <a href="mailto:support@clorev.com" 
                                            style="margin-bottom: 0px; color: #000;" class="hover_footer">support@clorev.com</a><br />
                                        <a href="tel:+91-97599 99055" style="color: #000;" class="hover_footer">+91-97599 99055</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="clearfix"></div>
                    <div style="height: 2px; background-color: black;"></div>
                    <div class="footer-copyright text-center pt-3">© 2023 CLOREV Laundry: All right reserved. </div>
                </div>
            </div>
        </div>

</footer>

