.footer-section {
  background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);
  position: relative;
  font-family: 'Helvetica1';
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-content-inner {
  max-width: 1280px;
  margin: auto;
}
.hover_footer:hover{
  color: white !important;
}

ul>li{
  list-style-type: none;
  margin-top: 15px;
}
a:hover{
color: black!important;
}
p{
  color: black !important;
}

i{
  width: 16px;
  height: 15px;
}

a{
color:black;
}

/* #i2{
margin-right: 15px;
 margin-left: 95px;
} */

@media  only screen  and (max-width:768px) {
  
  .contactus{
    margin-top: 40px;
  }
}

@media only screen and (min-width:992px){
  .sectionB{
    max-width: 200px;
  }
}