<app-navbar></app-navbar>
<!-- <app-header></app-header> -->
<div class="term-and-conditions">
    <div class="outline-border">
        <h2>RESPONSIBLE DISCLOSURE POLICY</h2>
        <div class="terms-para">
            <p class="p__welcome"><b><i>Version 1.0; last updated on 15<sup>th</sup> May 2023</i></b></p>
            <p class="p__welcome">At Clorev Clothing Private Limited and its affiliates (collectively<span><b>"CLOREV Laundry"</b></span> ,<span><b>"We"</b></span>, <span><b>"Us"</b></span>, <span><b>"Our"</b></span>), We take the security of our systems seriously, and it is our constant endeavor to make our
            CLOREV Laundry website ‘www.clorev.com’ and mobile application ‘CLOREV : All Your Nearby Laundry & Dry-Cleaners in Your Mobile’ (collectively the <span><b>"Platform"</b></span>) a safe place for our users to
            browse. However, in the rare case when some security researcher or member of the general public identifies a vulnerability in our systems, and responsibly shares the details of it with us, we
            appreciate their contribution, work closely with them to address such vulnerabilities with urgency, and if they want, publicly acknowledge their contribution.</p>

            <p class="p__welcome">CLOREV Laundry reserves all the rights to validate the reports to be valid or not based on impact of vulnerability. For the purpose of this Responsible Disclosure Policy, wherever the context so
                requires <span><b>"You"</b></span> or <span><b>“Your”</b></span> shall mean any natural or legal person who has identified & reported any vulnerabilities on the Platform. Please be noted that Your use of Our services including for the
                purposes of identifying & reporting the vulnerabilities, is subject to Our  <a class="address-email-link" routerLink="/terms-and-conditions">Terms of Use</a> and <a class="address-email-link"  routerLink="/privacy-policy">Privacy Policy</a>. We may retain any communications about security vulnerabilities that You report for as long as
                we deem necessary for the program purposes, and We may cancel or modify this program at any time.
            </p>

        

        </div>
        <hr class="divider">
        <div class="terms-para">
            <h6>1.&nbsp; &nbsp; Eligibility Criteria :</h6><br>
            
                <p><b>1.1)</b>&nbsp; &nbsp;&nbsp;You must be the first person to responsibly disclose the bug. </p>

                <p><b>1.2)</b>&nbsp; &nbsp; &nbsp;One must report a bug that could compromise our users' private data, circumvent the system's protections, or enable access to a system within our infrastructure.</p>
  </div>


    

        <hr class="divider">
        <div class="terms-para">
            <h6 class="inlinw">2.&nbsp; &nbsp;Type of Recognition:</h6><p class="inlinw">Hall of Fame (Para 10 refers)</p><br>
                </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>3.&nbsp; &nbsp; Rules of Engagement :</h6><br>
            <p><b>3.1)</b>&nbsp; &nbsp; &nbsp;You give us reasonable time to investigate and mitigate a vulnerability that You report.</p>

                        <p><b>3.2)</b>&nbsp; &nbsp; &nbsp;You must refrain from accessing sensitive information (by using a test account and/or system), performing actions that may negatively affect other CLOREV Laundry users (denial of
service), or sending reports from automated tools.</p>

            <p><b>3.3)</b>&nbsp; &nbsp;&nbsp;You do not exploit a security vulnerability that You discover for any reason. (This includes demonstrating additional risk, such as attempted compromise of sensitive company data or
                probing for additional issues.)</p>

                <p><b>3.4)</b>&nbsp; &nbsp;&nbsp;Violating any laws or breaching any agreements in order to discover vulnerabilities</p>


                    <p><b>3.5)</b>&nbsp; &nbsp;&nbsp;You do not publicly disclose details of a security vulnerability that you've reported without Our permission.</p>

        </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>4.&nbsp;&nbsp;Terms of Program :</h6><br>
            <p><b>4.1)</b>&nbsp; &nbsp;&nbsp; We recognise security researchers who help us to keep users safe by reporting vulnerabilities in our services. Recognition for such reports is entirely at Our discretion, based on risk, impact
                and other factors. For recognition in Our Hall of Fame, You first need to meet the following requirements:</p>

                <span>
                    <table class="span__table">
                        <tr>
                            <td class="containt__point">(i)</td>
                            <td class="containt__point">Adhere to our Responsible Disclosure Policy.</td>
                        </tr>
                        <tr>
                            <td class="containt__point">(ii)</td>
                            <td class="containt__point">Identify & report a vulnerability in our services or infrastructure which creates a security or privacy risk. (Be noted that CLOREV Laundry ultimately determines the risk of an
                                vulnerability, and that many software bugs are not security vulnerabilities.)</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(iii)</td>
                            <td class="containt__point"> Your report must describe a problem involving one of the products or services mentioned under "Scope of Program" (Para 5 refers)</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(iv)</td>
                            <td class="containt__point"> for internal business purposes and services, including but not limited to, delivery services, IT support services, and data analysis services;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(v)</td>
                            <td class="containt__point"> If you inadvertently cause a privacy violation or disruption (such as accessing account data, service configurations or other confidential information) while investigating a
                                vulnerability, make sure that you disclose this in your report</td>
                        </tr>
                        </table>
                </span>
                
                <p><b>4.2)</b>&nbsp; &nbsp;&nbsp; We will follow these guidelines while evaluating reports under our responsible disclosure program:</p>
    
                    <span>
                        <table class="span__table">
                            <tr>
                                <td class="containt__point">(i)</td>
                                <td class="containt__point">We investigate and respond to all valid reports. Due to the volume of reports that we receive, however, we prioritise evaluations based on risk and other factors, and it may take
                                    some time before you receive a reply</td>
                            </tr>
                            <tr>
                                <td class="containt__point">(ii)</td>
                                <td class="containt__point">We determine recognition in Hall of Fame based on a variety of factors, including but not limited to impact, ease of exploitation and quality of the report. Note that extremely low-
                                    risk vulnerabilities may not qualify for Hall of Fame at all.</td>
                            </tr>
    
                            <tr>
                                <td class="containt__point">(iii)</td>
                                <td class="containt__point"> In the event of duplicate reports, we give recognition to the first person to submit a vulnerability. (CLOREV Laundry determines duplicates and may not share details on the other
                                    reports.)</td>
                            </tr>
    
                          
                            </table>
                    </span>
              
                
            </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>5.&nbsp;&nbsp;&nbsp;Scope of Program :</h6><br>
            

                <p>Scope of this program includes Platform through which We render Our services, i.e. CLOREV Laundry website ‘www.clorev.com’ and both iOS & Android mobile application ‘CLOREV : All Your
                    Nearby Laundry & Dry-Cleaners in Your Mobile’ (collectively the <span><b> "Platform"</b></span>).</p>
    
              </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>6.&nbsp;&nbsp; How to Report a Vulnerability :</h6><br>
            <p><b>6.1)</b>&nbsp; &nbsp;&nbsp;If You happen to have identified a vulnerability on any of our Platform, we request you to follow the steps outlined below:</p>
            <span>
                <table class="span__table">
                    <tr>
                        <td class="containt__point">(i)</td>
                        <td class="containt__point">Please submit the vulnerability report form with the necessary details to recreate the vulnerability scenario. This may include screenshots, videos, or simple text instructions</td>
                    </tr>
                    <tr>
                        <td class="containt__point">(ii)</td>
                        <td class="containt__point">If possible, share with us your contact details (phone number), so that our security team can reach out to you if further inputs are needed to identify or close the problem.</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(iii)</td>
                        <td class="containt__point"> If the identified vulnerability can be used to potentially extract information of our customers or systems, or impair our system’s ability to function normally, then please refrain from
                            actually exploiting such a vulnerability. This is absolutely necessary for us to consider your disclosure a responsible one</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(iv)</td>
                        <td class="containt__point">While we appreciate the inputs of Whitehat hackers, we may take legal recourse if the identified vulnerabilities are exploited for unlawful gains or getting access to restricted
                            customer or system information or impairing our systems</td>
                    </tr>
                    </table>
            </span>
            


          <p><b>6.2)</b>&nbsp; &nbsp;&nbsp;Report a vulnerability by writing to Us via an email to <a class="address-email-link" href="it@clorev.com">it@clorev.com</a> with the subject line ‘Report of Vulnerability’.</p>

                  </div>
        <hr class="divider">
        <div class="terms-para">
            <h6>7.&nbsp;&nbsp;Qualifying Vulnerabilities :</h6><br>
            <p><b>7.1)</b>&nbsp; &nbsp;&nbsp; Any design or implementation issue that is reproducible and substantially affects the security of Our users is likely to be in scope of the program, such as: </p>

            <span>
                <table class="span__table">
                    <tr>
                        <td class="containt__point">(i)</td>
                        <td class="containt__point">Injections</td>
                    </tr>
                    <tr>
                        <td class="containt__point">(ii)</td>
                        <td class="containt__point">Cross Site Scripting (XSS)</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(iii)</td>
                        <td class="containt__point"> Cross Site Request Forgery (CSRF)
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(iv)</td>
                        <td class="containt__point">Remote Code Execution (RCE)</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(v)</td>
                        <td class="containt__point">Authentication/Authorisation flaws</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(vi)</td>
                        <td class="containt__point">Domain take-over vulnerabilities
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(vii)</td>
                        <td class="containt__point">Able to take-over other user accounts (while testing, use Your own another test account to validate)
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(viii)</td>
                        <td class="containt__point">Any vulnerability that can affect Our Brand, user data and financial transactions.</td>
                    </tr>
                   

                    </table>
            </span>
   

            
        </div>

    


        <hr class="divider">
        <div class="terms-para">
            <h6>8.&nbsp;&nbsp;Exclusion:</h6><br>
            <p><b>8.1)</b>&nbsp; &nbsp;&nbsp;The following bugs are unlikely to be eligible:</p>


            <span>
                <table class="span__table">
                    <tr>
                        <td class="containt__point">(i)</td>
                        <td class="containt__point">Vulnerabilities found through automated testing</td>
                    </tr>
                    <tr>
                        <td class="containt__point">(ii)</td>
                        <td class="containt__point">"Scanner output" or scanner-generated reports</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(iii)</td>
                        <td class="containt__point"> Publicly released CVE’s or 0-days in internet software within 90 days of their disclosure</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(iv)</td>
                        <td class="containt__point">"Advisory" or "Informational" reports that do not include any CLOREV Laundry testing or context </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(v)</td>
                        <td class="containt__point">Vulnerabilities requiring MITM or physical access to the victim’s unlocked device.</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(vi)</td>
                        <td class="containt__point">Denial of Service attacks:</td>

                    
                
                 
                            <tr class="jay">
                                <td class="containt__inner">(a)</td>
                                <td class="containt__inner">SPF and DKIM issues</td>
                            </tr>
                            <tr>
                                <td class="containt__inner">(b)</td>
                                <td class="containt__inner">Content injection</td>
                            </tr>
        
                            <tr>
                                <td class="containt__inner">(c)</td>
                                <td class="containt__inner"> Hyperlink injection in emails
                                </td>
                            </tr>
        
                            <tr>
                                <td class="containt__inner">(d)</td>
                                <td class="containt__inner">IDN homograph attacks</td>
                            </tr>
        
                            <tr>
                                <td class="containt__inner">(e)</td>
                                <td class="containt__inner">RTL Ambiguity</td>
                            </tr>
        
                                    
                   

                
           

                    <tr>
                        <td class="containt__point">(vii)</td>
                        <td class="containt__point">Content Spoofing</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(viii)</td>
                        <td class="containt__point">Vulnerabilities relating to Password Policy</td>
                    </tr>
                   

                    <tr>
                        <td class="containt__point">(ix)</td>
                        <td class="containt__point">Full-Path Disclosure on any property</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(x)</td>
                        <td class="containt__point">Version number information disclosure</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xi)</td>
                        <td class="containt__point">Third-party applications on the CLOREV Laundry Application directory (identified by the existence of a "Report this app" link on the app's page). Please report vulnerabilities with
                            these services to the creator of that specific application.</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xii)</td>
                        <td class="containt__point">Clickjacking on pre-authenticated pages, or the non-existence of X-Frame-Options, or other non-exploitable clickjacking vulnerabilities</td>
                    </tr>


                    <tr>
                        <td class="containt__point">(xiii)</td>
                        <td class="containt__point">CSRF-able actions that do not require authentication (or a session) to exploit Reports related to the following security-related headers:</td>
                    </tr>



                    <tr class="jay">
                        <td class="containt__inner">(a)</td>
                        <td class="containt__inner">Strict Transport Security (HSTS)</td>
                    </tr>
                    <tr>
                        <td class="containt__inner">(b)</td>
                        <td class="containt__inner">XSS mitigation headers (X-Content-Type and X-XSS-Protection)</td>
                    </tr>

                    <tr>
                        <td class="containt__inner">(c)</td>
                        <td class="containt__inner"> X-Content-Type-Options
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__inner">(d)</td>
                        <td class="containt__inner">Content Security Policy (CSP) settings (excluding no sniff in an exploitable scenario)</td>
                    </tr>

                  



                    <tr>
                        <td class="containt__point">(xiv)</td>
                        <td class="containt__point">Bugs that do not represent any security risk</td>
                    </tr>

                    
                    <tr>
                        <td class="containt__point">(xv)</td>
                        <td class="containt__point">Security bugs in third-party applications or services built on the CLOREV Laundry API (please report them to the third party that built the application or service)</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xvi)</td>
                        <td class="containt__point">Security bugs in software related to an acquisition for a period of 90 days following any public announcement</td>
                    </tr>

                    
                    
                    <tr>
                        <td class="containt__point">(xvii)</td>
                        <td class="containt__point">HTTP TRACE or OPTIONS methods enabled</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xviii)</td>
                        <td class="containt__point">Non-sensitive (i.e., non-session) cookies missing the Secure or HTTP only flags</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xix)</td>
                        <td class="containt__point">Tap jacking</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xx)</td>
                        <td class="containt__point">Mobile client issues require a rooted device and/or outdated OS version or SSL pinning issues.</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxi)</td>
                        <td class="containt__point">Subdomain takeovers without supporting evidence</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxii)</td>
                        <td class="containt__point">Missing best practices in SSL/TLS configuration.</td>
                    </tr>


                    <tr>
                        <td class="containt__point">(xxiii)</td>
                        <td class="containt__point">The Vulnerabilities that cannot be used to exploit other users or CLOREV Laundry e.g., self-XSS or having a user paste JavaScript into the browser console</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxiv)</td>
                        <td class="containt__point">Open ports without an accompanying proof-of-concept demonstrating vulnerability
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxv)</td>
                        <td class="containt__point">Vulnerabilities in the Whitehat report form
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxvi)</td>
                        <td class="containt__point">Submitting complaints about services
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxvii)</td>
                        <td class="containt__point">Making fraud reports and/or suspicions of fraud reports from false mail or phishing e-mails
                        </td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxviii)</td>
                        <td class="containt__point">Reporting viruses.</td>
                    </tr>

                    <tr>
                        <td class="containt__point">(xxix)</td>
                        <td class="containt__point">Submitting complaints or questions about the availability of the website.</td>
                    </tr>
                    </table>
            </span>
            </div>
            <hr class="divider">
            <div class="terms-para">
                <h6>9.&nbsp;&nbsp;&nbsp;Acknowledgement:</h6><br>
                    <p>We do not have a bounty/cash reward program for such disclosures, but we express our gratitude for your contribution in different ways. For genuine ethical disclosures, we would be glad to
                        publicly acknowledge your contribution in this section on our website. Of course, this will be done if you want a public acknowledgement.</p>
                  
        </div>


        <hr class="divider">
        <div class="terms-para">
            <h6>10.&nbsp;&nbsp;&nbsp;  Hall of Fame :</h6><br>
                <p>We are heartily thankful to the following People for finding & responsibly disclosing security vulnerabilities in CLOREV Laundry owned website ‘www.clorev.com’ and mobile application ‘CLOREV :
                    All Your Nearby Laundry & Dry-Cleaners in Your Mobile’ (collectively the <span><b>"Platform"</b></span>). We are grateful for their contribution & efforts towards the security of CLOREV Laundry Platform.</p>
              </div>
    </div>
        <!-- Footer Section -->
        <app-footer></app-footer>
        <!-- Footer Section -->
    </div>

   






