label {
  display: inline-block;
  margin-bottom: 0;
};

/* Style for the textareas */

textarea {
  border: none;
  width: 300px;
  resize: none; /* Disable textarea resizing */
  overflow: hidden; /* Hide vertical scrollbar */
  box-sizing: border-box;
  scroll-behavior:none;
  
}


@media only screen and (max-width:1024px){
  .store_address{
    margin-left:20px!important;
  }
  .service_offers_div{
    margin-left: -80px; 
    display: block ruby;
    padding-left: 190px;
  }
  /* .div__submit_btn{
    margin-left: 600px;
  } */
}

@media only screen and (min-width:620px) and (max-width:768px){
  
  .business-details{
    padding-left:130px!important;
  }
  .store_address{
    padding-left:130px !important;
  }
  .bank-details{
    margin-left:40px !important;
  }
  .service_offers_div{
    padding-left: 90px!important; 
    display: flex;
    padding-left: 130px;
  }
  /* .bank-details-upload{
    margin-left: -40px!important;
  } */
}
@media only screen and (min-width: 600px) {
  .c-input-base {
    width: 300px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
  .switch-pos {
    justify-content: center !important;
  }
  
}
@media only screen and  (max-width: 600px) {
  .service_offers_div{
    margin-left: -105px;
     
  }
  .bank-details{
    margin-left: 0px !important;
    padding-left: 15px !important;
  }
  .business-details{
    padding-left: 15px !important;
  }
  .personal-info-second{
    padding: 0px;
  }
  .bank-details .c-input-base{
    width: 260px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
  .business-details .c-input-base{
    width: 260px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
  .store_address{
    margin: 0%!important;
  }
}

@media only screen and (max-width: 360px) {
  .c-input-base {
    width: 300px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
  .bank-details .c-input-base ,.business-details .c-input-base{
    width: 260px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .switch-pos {
    justify-content: flex-start !important;
  }
  .upload-icon {
    margin-left: auto;
  }
  .store_address{
    margin-right: 0px !important;
  }
  .bank-details{
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
  .business-details{
    padding-left:0px !important;
  }
  
}

/* Removing the focus from input fields start */
.form-control:focus{
  box-shadow: none;
}
/* Removing the focus from input fields end */

/* upload image icons start */
.upload_doc_heading{
  margin-top: -5px;
}
.shopfile_upload_icon{
  margin-top:-13px;
}
.gstinFile_upload_icon{
  margin-top:-13px;
}
.panFile_upload_icon{
  margin-top:-24px;
}
.msmeFile_upload_icon{
  margin-top:-23px;
}
.bankDoc_upload_icon{
  margin-top: -7px;
  margin-left: -30px;

}
.bi{
  cursor: pointer;
}
/* upload image icons end */
/* upload images start */
.upload_img{
  border-radius: 5px;
  width:100%;
  height: 55px;
  display: none;
}
#shopFileimg{
  
  margin-bottom: 17px;
}
#gstinFileimg{

  margin-bottom: 17px;
}
#panFileimg{

  margin-bottom: 17px;
}
#bankDocimg{
  margin-top: -7px;
 
}
/* upload images end */

/* close icon for remove image start */
.upload_docs .close_icon1{
  position: relative;
  top: -6px;
  right: 3px;
}
.upload_docs .close_icon234{
  position: relative;
  top: -5px !important;
}
.close_icon{
  position: relative;
  top: 4px;
  left: 9px;
 }

/* close icon for remove image end */

/* Service Offers Main div start */
.service_offers_div{
  padding-left:100px ;
}
/* Service Offers Main div end */
/* store address */
.store_address{
  width: auto;
  margin-right: 70px;
}
/* bank details */
.bank-details{
  width: auto;
  margin-left:65px;
}

/* checkbox code starting */
/* Checkbox */
.container {
  /* max-width: 1040px; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 13px;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
}
.container div {
  margin: 1px; 

}
.container div label {
  cursor: pointer;
}
.container div label input[type="checkbox"] {
  display: none;
}
.container div label span {
  position: relative;
  display: inline-block;
  background: white;
  /* border: 2px solid black; */
  border: 2px solid var(--clorev-primary);
  /* background: #424242; */
  padding: 10px 20px;
  /* padding: 15px 30px; */
  /* color:#555; */
  text-shadow: 0 1px 4px, rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  font-size: 15px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
}

.container div label span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(25, 255, 255, 0.1);
}
.container div label input[type="checkbox"]:checked ~ span {
  /* background: rgb(0, 200, 255); */
  background: linear-gradient(rgb(0,200,255),#006f8e 90%);
}

/* checkbox code ending */
.dropdown {
  width: 25px;
}
.dropdown-select {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  cursor: pointer;
}

.footer-gradient {
  background: linear-gradient(rgb(0, 200, 255), #006f8e 90%);
}
.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
div label input {
  margin-right: 100px;
}
body {
  font-family: sans-serif;
}
.yc-form {
  display: flex;
  
  border: 2px solid  rgb(0, 200, 255);;
  border-radius: 25px ;
}

.yc-form input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 2px solid var(--clorev-primary);
}

.yc-form label {
  font-size: 1em;
  text-align: center;
  padding: 0.5em 2em;
  /* border: 2px solid skyblue; */
}

.yc-form label:hover {
  cursor: pointer;
  /* border: 2px solid var(--clorev-primary); */
}

.yc-form input#yes:checked + label {
  background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);
  color: #fff;
}

.yc-form input#no:checked + label {
  background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);
  color: white;
}

.yc-form label:first-of-type {
  border-radius: 25px 0 0 25px;
}

.yc-form label:last-of-type {
  border-radius: 0 25px 25px 0;
}

.container {
  font-size: 13px;
  display: block ruby !important;
  flex-wrap: wrap;
}

@media only screen and (min-width:768px){
.service_offers_div{
  padding-left: 130px;
}
}
@media only screen and  (min-width:1024px) and (max-width:2000px){
  .service_offers_div{
    padding-left: 186px;
    margin-left: 2.2rem;
  }
  .div__submit_btn{
    margin-left: 600px;
  }
  .last{
    margin-right: 425px;
    margin-top: 20px;
  }

  .select__btn{
    margin-left:187px !important;
    padding: 5px;
  }
  .yc-form{
    margin-left:155px !important;
  }
  /* .inner__div{
    margin-top: 1px !important;
    margin-bottom: 2px !important;
    margin-left: 3px !important;
    margin-right: 4px !important;

   

    padding-top: 1px !important;
    padding-bottom: 2px !important;
    padding-left: 3px !important;
    padding-right: 4px !important;
  } */
  }



  @media only screen and  (min-width:768px) and (max-width:1024px){
    .container {
      font-size: 13px;
      display: block ruby !important;
      flex-wrap: wrap;
    }
    
  }
  .container {
    font-size: 13px;
    display: block ruby !important;
    flex-wrap: wrap;
  
  }
  @media only screen and (max-width:560px){
    .container {
      font-size: 13px;
      display: flex !important;
      flex-wrap: wrap;
    }
  }
  
  @media only screen and (max-width:375px){
    .container {
      font-size: 13px;
      display:flex !important;
      flex-wrap: wrap;
    }
    
  }
  @media only screen and (max-width:320px){
    .container {
      font-size: 13px;
      display:flex !important;
      flex-wrap: wrap;
    }
    
  }
 
  /* Footer css */

  .footer-section {
    background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);
    position: relative;
    font-family: 'Helvetica1';
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-content-inner {
    max-width: 1280px;
    margin: auto;
  }
  
  ul>li{
    list-style-type: none;
    margin-top: 15px;
  }
  a:hover{
  color: black!important;
  }
  p{
    color: black !important;
  }
  
  i{
    width: 16px;
    height: 15px;
  }
  
  a{
  color:black;
  }
  
  /* #i2{
  margin-right: 15px;
   margin-left: 95px;
  } */
  
  @media  only screen  and (max-width:768px) {
    
    .contactus{
      margin-top: 40px;
    }
  }
  
  @media only screen and (min-width:992px){
    .sectionB{
      max-width: 200px;
    }
   
  }

/* 
  home css */


  /* 
::-webkit-scrollbar {
  width: 20px;
}

/* Track 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle 
::-webkit-scrollbar-thumb {
  background: #00C8FF;
  box-shadow: 2px 2px 2px white inset, 
             -2px -2px 2px grey inset;
  border-radius: 10px;
} */



@media only screen and  (min-width:768px) and (max-width:1024px){
  .iframe_video{
    width: 900px;
  }
}
@media only screen and (max-width:768px){
  .iframe_video{
    width: 700px;
  }
  .website_logo{
    display: none!important;
  }
  .mobile_logo{
    display: block!important;
  }
  .logo-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo-box button{
    background-color: #00c8ff;
    max-height:56px;
    margin-top:5px;
  }
  .sign{
    max-width: 102px;
    margin-left: 5%;
    margin-top:3%!important;
    margin-bottom: 5%!important;
  }
  
  
}
@media only screen and (max-width:560px){
  .iframe_video{
    width: auto;
  }
  .modal .modal-content.form-wrapper{
    width: 100%!important;
  }
}

@media only screen and (max-width:375px){
  .outlined{
    width: 130%!important;
  }
}
@media only screen and (max-width:320px){
  .outlined{
    width: 100%!important;
  }
}

.gallery-bg {
    background: #00c8ff;
    /* margin-top: 10px; */
    /* margin-bottom: 1px; */
    /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign {
    background-color: #00c8ff;
    /* color: black; */
    border-radius: 20px;
    font-weight: bolder !important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.linedraw {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #00c8ff; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-bottom: 30px;
 } 
 
 .linedraw span { 
     background:#fff; 
     padding:0 10px; 
     color: #00c8ff;
 }

 .mt-4, .my-4 {
    margin-top: 3.5rem!important;
}

.sign:hover {
    background-color: rgb(14, 14, 14) !important;
}


.nav-align {
  flex-grow: 2;
  display: flex;
  align-self: end;
  /* color: black; */
  /* position: absolute;
  width: 100%;
  top: 68px;
  background: transparent; */
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--clorev-primary);
  padding-right: 0 !important;
  scroll-behavior: smooth;
}

.bullet::before {
  /* add the new bullet point */
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 2px;
  background-color: var(--clorev-primary);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=number] {
  -moz-appearance: textfield;
} */

.material-textfield {
  position: relative;  
}

.outlined_label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: .1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.outlined {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;  
  padding: 1rem 0.7rem;
  color: gray;
  transition: 0.1s ease-out;
  width:150%;
}
.outlined:focus {
  border-color: #00c8ff;  
}
.outlined:focus + .outlined_label {
  color: #00c8ff;
  top: 0;
  transform: translateY(-50%) scale(.9);
}
.outlined:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(.9);
}
/* Modal CSS Starts */
.modal .modal-content.form-wrapper {
    width: 85%;
    height: 470px;
    position: relative;
    background: #ffffff;
  }
  .modal .modal-content.form-wrapper .icon-box {
    height: 50px;
    width: 50px;
    background: #007bff;
    color: #f2f3f5;
    margin: 0 auto;
    position: absolute;
    top: -4%;
    left: -2%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal .modal-content.form-wrapper .close-box {
    height: 50px;
    width: 50px;
    background: #00c8ff;
    color: #f2f3f5;
    margin: 0 auto;
    position: absolute;
    top: -4%;
    right: -2%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .modal .modal-content.form-wrapper .btn-info {
    transition: all 500ms;
    background: #007bff;
    color: #fff;
  }
  .modal .modal-content.form-wrapper .btn-info:hover {
    background: transparent;
    border-color: #007bff;
    color: #007bff;
  }
  .modal .modal-content.form-wrapper .social-login a {
    transition: all 500ms;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    background: #007bff;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 7px;
    border: 1px solid transparent;
  }
  .modal .modal-content.form-wrapper .social-login a.google {
    background: #db4437;
  }
  .modal .modal-content.form-wrapper .social-login a.google:hover {
    border-color: #db4437;
    color: #db4437;
    background: transparent;
  }
  .modal .modal-content.form-wrapper .social-login a.facebook {
    background: #4267b2;
  }
  .modal .modal-content.form-wrapper .social-login a.facebook:hover {
    border-color: #4267b2;
    color: #4267b2;
    background: transparent;
  }
  .modal .modal-content.form-wrapper .social-login a.twitter {
    background: #1da1f2;
  }
  .modal .modal-content.form-wrapper .social-login a.twitter:hover {
    border-color: #1da1f2;
    color: #1da1f2;
    background: transparent;
  }
  .modal .modal-content.form-wrapper .social-login a.github {
    background: #24292e;
  }
  .modal .modal-content.form-wrapper .social-login a.github:hover {
    border-color: #24292e;
    color: #24292e;
    background: transparent;
  }
/* Modal CSS Ends */

@media only screen and (max-width: 360px) {
    .arrow-right,
    .arrow-left {
        width: 50px !important;
    }
}

.brand-logo {
    width: 320px !important;
    height: 80px !important;
}

.footer-gradient {
    background: linear-gradient(rgb(0, 200, 255), #006f8e 90%);
}

.iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.section-title {
    text-transform: uppercase;
}

.scroll{
  scroll-behavior: smooth;
}



/* .multi_select_box
  {
    width: 100%;
  }
  .multi_select_box button
  {
    background-color: darkblue !important;
    color:#fff !important;
    padding:15px 25px;
  } */


  .btn__submit{
    
      /* width: 100%; */
      width: 85%;
      background-color: var(--clorev-primary);
      border-radius: 5px;
      border: 2px solid var(--clorev-primary);
      color: #fff;
      font-weight: bolder;
      font-size: 18px;
      padding: 10px 20px;
      margin: -15px 0;
        margin-top: -15px;
        margin-bottom: -15px;
      transition: all .2s ease-in-out;
  }
 

  