<div id="formCheck" style="display: none; ">
    <div  style="display: flex;flex-direction: column;align-items: center;justify-items: center;">
        <svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
          <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <path class="circle" d="M13 1C6.372583 1 1 6.372583 1 13s5.372583 12 12 12 12-5.372583 12-12S19.627417 1 13 1z"/>
            <path class="tick" d="M6.5 13.5L10 17 l8.808621-8.308621"/>
            
          </g>
        </svg>
        
        <div style="display: flex;flex-direction: column;max-width: 420px;font-size: larger;">
          <div>
            <p>Congratulation! You have successfully submitted your <br>
              Vendor Registration Form for CLOREV Laundry.</p></div>
          <div class="">
           Your documents are under review , our Business <br> 
            Development team will get back to you in due course.
          </div>
        </div>
      </div>
    </div>
    <!-- Top Strip -->



        <app-navbar></app-navbar>
        <!-- <app-header></app-header> -->
        <!-- <div class="sticky-top ">
           
            <section class="top-strip py-2 " style="background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);">
                <section style="background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);">
                <div class="container-fluid d-none d-lg-block">
                    <div class="row px-1 ">
                        <div class="col-5 d-flex justify-content-start align-items-center ">
    
                            <div style="color: black;">
                                 <img src="../../../assets/images/mail-icon.png" alt=""> 
                                <a class="email-link" href="mailto:info@clorev.com"> <span><i class="fas fa-envelope" style="margin-top: 1px; margin-right:10px;"></i></span>info@clorev.com</a>
                            </div>
                            <div style="width: 2px; height: 25px; background-color: black; margin-left: 15px;"></div>
                            <div class="pl-3" style="color: black;">
                                <img src="../../../assets/images/call.png" class="pr-1" alt="">
                                <a href="tel:+91-97599 99055" style="color: #000;">+91-97599 99055</a>
                            </div>
    
    
                        </div>
                        <div class="col-3 text-center d-flex justify-content-center align-items-center">
                            <div style="width: 100px;" class="d-inline-block mx-2">
                                <a href="#" data-toggle="modal" data-target="#applink"><img src="../../../assets/images/appstore-down.png" alt="Download from apple store" class="img-fluid down-btn"></a>
                            </div>
                            <div style="width: 100px;" class="d-inline-block mx-2">
                                <a href="#" data-toggle="modal" data-target="#applink"><img src="../../../assets/images/playstore-down.png" alt="Download from play store" class="img-fluid down-btn"></a>
                            </div>
                        </div>
                        <div class="col-4 text-right d-flex justify-content-end align-items-center">
                             <a href="#"><img src="../../../assets/images/whatsapp.png" alt="Facebook handle"
                                class="social-icons px-1"></a> -->
                            <!-- <a href="#"><img src="../../../assets/images/whatsapp.png" alt="Facebook handle" class="social-icons px-1"></a> 
                            <a href="https://www.linkedin.com/company/clorevlaundry"><img src="../../../assets/images/linkedin.png" alt="Facebook handle" class="social-icons px-1"></a>
                            <a href="https://www.youtube.com/@clorevlaundry"><img src="../../../assets/images/youtube.png" alt="Facebook handle" class="social-icons px-1"></a>
                            <a href="https://www.facebook.com/clorevlaundry"><img src="../../../assets/images/fb.png" alt="Facebook handle" class="social-icons px-1"></a>
                            <a href="https://www.instagram.com/clorevlaundry"><img src="../../../assets/images/instagram.png" alt="Facebook handle" class="social-icons px-1"></a>
    
                            <a href="https://twitter.com/@ClorevLaundry"><img src="../../../assets/images/twitter.png" alt="Facebook handle" class="social-icons px-1"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div> -->



    
    <!-- <div class="sticky-top" id="vendorForm">
    
        <section class="top-strip py-1" style="background: linear-gradient(to top right, rgba(0,200,255,1), rgba(0,200,255,1));">
    
            <div class="container-fluid d-none d-lg-block">
    
                <div class="row px-1">
    
                    <div class="col-5 d-flex justify-content-start align-items-center">
    
                        <div style="color: black;"> <img src="../assets/images/mail-icon.png" alt=""> contact@clorev.com
                        </div>
    
                        <div style="width: 2px; height: 25px; background-color: black; margin-left: 15px;">
                        </div>
                        <div class="pl-3" style="color: black;">
                            <img src="../assets/images/call.png" class="pr-1" alt=""> +91 XXX-XXXX-XXX
                        </div>
    
                    </div>
    
                    <div class="col-3 text-center d-flex justify-content-center align-items-center">
                        <div style="width: 100px;" class="d-inline-block mx-2">
                        <a >
                            <img src="../assets/images/appstore-down.png" alt="Download from apple store" class="img-fluid down-btn">
                        </a>
                        </div>
                        <div style="width: 100px;" class="d-inline-block mx-2">
                        <a >
                                <img src="../assets/images/playstore-down.png" alt="Download from play store" class="img-fluid down-btn">
                        </a>
                        </div>
                    </div>
    
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <a ><img src="../assets/images/linkedin.png" alt="Facebook handle" class="social-icons px-1"></a>
                        <a ><img src="../assets/images/youtube.png" alt="Facebook handle" class="social-icons px-1"></a>
                        <a ><img src="../assets/images/fb.png" alt="Facebook handle" class="social-icons px-1"></a>
                        <a ><img src="../assets/images/instagram.png" alt="Facebook handle" class="social-icons px-1"></a>
                        <a ><img src="../assets/images/twitter.png" alt="Facebook handle" class="social-icons px-1"></a>
                    </div>
    
                </div>
            </div>
    
        </section>
    
    </div> -->
    <!--x Top Strip x-->
    
    <!-- NAV START -->
    <!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light px-3" style="background-color: rgb(14, 14, 14) !important;margin-top:3%">
        <a class="navbar-brand" routerLink="/home" style="margin: 0px;"><img src="../assets/images/logo.png"
                alt="Clorev logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
    
                <li class="nav-item user-profile">
                    <a class="nav-link sign px-3"  style="color: var(--clorev-primary);"><i class="fas fa-user"></i>
                        SIGN IN</a>
                    <div class="opt-menu">
                        <div class="user-info p-3 pl-5 pb-4">
                            <h5>Sudhir Mishra</h5>
                            <p class="mb-0">sudhirgrm09@gmail.com</p>
                            <p class="mb-0">+91-9929371023</p>
                            <button class="edit-profile-btn">Edit profile</button>
                        </div>
    
                        <a  class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Order history</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
    
                        <a  class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>My Address</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
    
                        <a  class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Rating and reviews</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
    
                        <a  class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Saved cards</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
    
                        <a  class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Notifications</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
    
                        <button class="btn btn-primary w-100 log-out">Log out</button>
    
    
                    </div>
                </li>
                <div
                    style="width: 2px; height: 30px; background-color: #00c8ff; margin-left: 0px; margin-right: 15px; position: relative; top: 6px;">
                </div>
                <li class="nav-item">
                    <a ><img src="../assets/images/cart-icon.png" alt=""></a>
                </li>
    
            </ul>
        </div>
    </nav> -->
    <!-- NAV END -->
    <!-- FORM START -->
    <form [formGroup]="registerForm" (ngSubmit)="register()" *ngIf="!loadcomponent" enctype="multipart/form-data">
      <div class="container-fluid my-5" style=" 
      /*------------------------ salect option off -----------------------*/
  
  
      -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;">
          <div class="row text-center">
    
              <div class="col-12 col-md-6 d-flex justify-content-center mt-5">
                  <div class="log-in-wrap personal-info-second" style="width: auto;">
                      <div class="personal-info-wrap">
                          <h4 class="px-2 text-left"> <i class="fas fa-user"></i><b> Personal Information</b></h4>
                          <div class="c-input-base d-flex justify-content-start align-items-center">
                              <select id="inputState" class="" style="border: none; background-color: white;" id="title" formControlName="designation">
                                  <option value="">Mr.</option>
                                  <option value="Mrs">Ms.</option>
                              </select>
    
                              <div
                                  style="width: 1px; height: 16px; background-color: rgb(201, 201, 201); display: inline-block; margin-left: 10px; margin-right: 10px">
                              </div>
    
                              <input type="text" pattern="[A-Za-z]+" class="" style="border: none;" placeholder="Enter your name"
                                  id="name" class="form-control" formControlName="name" >
                          </div>
    
                          <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                              <select id="inputState" class="" style="border: none; background-color: white;" id="extension">
                                  <option selected>+91</option>
                              </select>
    
                              <div
                                  style="width: 1px; height: 16px; background-color: rgb(201, 201, 201); display: inline-block; margin-left: 12px; margin-right: 10px">
                              </div>
    
                              <input type="number" class="mobile-input" style="border: none;"
                                  placeholder="Enter mobile number" id="mobile" class="form-control" formControlName="mobileNumber"  >
                          </div>
    
                          <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                              <input type="email" class="" style="border: none; width: 300px;"
                                  placeholder="Enter Your Email ID *" id="email" class="form-control" formControlName="emailId"
                                  >
                          </div>
    
                          <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                              <input type="number" class="" style="border: none; width: 300px;"
                                  placeholder="Alternate Mob. Number (optional)" id="alternate number" class="form-control" formControlName="altMobileNumber"
                                  >
                          </div>
                      </div>
                  </div>
              </div>
    
              <div class="col-12 col-md-4 d-flex justify-content-center mt-5 bank-details-parent">
                  <div class="log-in-wrap business-details" style="width: auto;">
                      <h4 class="px-2 text-left"><i class="fas fa-briefcase mr-2"></i><b>Business Details</b></h4>
    
                      <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input  type="text" class="c-input-base " placeholder="Enter Your Shop Name *"
                              style="border: none; width: 300px;" id="Aadhaar No." class="form-control" formControlName="shopName">
    
                      </div>
    
    
                       <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input type="text" class="c-input-base " placeholder="Enter GSTIN *" style="border: none; width: 300px;"
                              id="Driving Licence" class="form-control" formControlName="gstin">
    
    
                      </div>
    
                      <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input type="text" class="c-input-base " placeholder="Enter PAN Number *"
                              style="border: none; width: 300px;" id="Pan" class="form-control" formControlName="panNumber" >
    
                      </div>
    
                      <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input type="text" class="c-input-base " placeholder="MSME Reg.No Number (optional)"
                              style="border: none; width: 300px;" id="PF Account number" class="form-control" formControlName="uamNumber" >
    
                      </div>
                  </div>
                  <div class="log-in-wrap d-flex flex-column upload_docs" style="width: 70px;height: 300px;">
                    <small class="text-primary upload_doc_heading" style="color: var(--clorev-primary);"><u>Upload<br>Docs<i class="fa fa-info-circle" aria-hidden="true"></i></u></small>
                        <label for="shopFile" class="shopfile_upload_icon">
                            <i  title="Upload Your Shop File Here" id="shopFileUploadBtn" class="bi bi-file-earmark-arrow-up-fill fa-3x" aria-hidden="true"></i>
                        </label>
                        <div class="d-inline-flex my-1" >
                            <img src="" class="border upload_img" id="shopFileimg" alt="" >
                            <i title="Remove" class="fa fa-times-circle text-danger text-right close_icon1" type="button" id="shopFileimgclose" style="display: none;" (click)="callcloseImageFunction('shopFile','shopFileUploadBtn','shopFileimg','shopFileimgclose')" aria-hidden="true" ></i>  
                        </div>
                        <input
                            class="form-control d-none"
                            type="file"
                            id="shopFile"
                            accept="image/*"
                            name="shopFile"
                            (change)="callGetImgFunction($event,'shopFile')"
                        />
                        <label for="gstinFile" class="gstinFile_upload_icon">
                            <i  title="Upload Your GSTIN File Here" id="gstinFileUploadBtn" class="bi bi-file-earmark-arrow-up-fill fa-3x" aria-hidden="true"></i>
                        </label>
                        <div class="d-inline-flex my-2">
                            <img src="" class="border text-center upload_img" id="gstinFileimg" alt="" >
                            <i title="Remove" class="fa fa-times-circle text-danger text-right close_icon234" type="button" id="gstinFileimgclose" style="display: none;position: relative;top: 3px;right:4px;" (click)="callcloseImageFunction('gstinFile','gstinFileUploadBtn','gstinFileimg','gstinFileimgclose')" aria-hidden="true" ></i>  
                        </div>
                        
                        <input
                            class="form-control d-none"
                            type="file"
                            id="gstinFile"
                            accept="image/*"
                            name="gstinFile"
                            (change)="callGetImgFunction($event,'gstinFile')"
                        />
    
                        <label for="panFile" class="panFile_upload_icon">
                            <i  title="Upload Your PAN CARD Here" id="panFileUploadBtn" class="bi bi-file-earmark-arrow-up-fill fa-3x" aria-hidden="true"></i>
                        </label>
                        <div class="d-inline-flex my-2">
                            <img src="" class="border text-center upload_img" id="panFileimg" alt="" >
                            <i title="Remove" class="fa fa-times-circle text-danger text-right close_icon234" type="button" id="panFileimgclose" style="display: none;position: relative;top: 3px;right:4px;" (click)="callcloseImageFunction('panFile','panFileUploadBtn','panFileimg','panFileimgclose')" aria-hidden="true" ></i>  
                        </div>
                        
                        <input
                            class="form-control d-none"
                            type="file"
                            id="panFile"
                            accept="image/*"
                            name="panFile"
                            (change)="callGetImgFunction($event,'panFile')"
                        />
    
                        <label for="msmeFile" class="msmeFile_upload_icon">
                            <i  title="Upload Your MSME Number Here" id="msmeFileUploadBtn" class="bi bi-file-earmark-arrow-up-fill fa-3x " aria-hidden="true"></i>
                        </label>
                        <div class="d-inline-flex my-2">
                            <img src="" class="border text-center upload_img" id="msmeFileimg" alt="" >
                            <i title="Remove" class="fa fa-times-circle text-danger text-right close_icon234" type="button" id="msmeFileimgclose" style="display: none;position: relative;top: 3px;right:4px;" (click)="callcloseImageFunction('msmeFile','msmeFileUploadBtn','msmeFileimg','msmeFileimgclose')" aria-hidden="true" ></i>  
                        </div>
                        
                        <input
                            class="form-control d-none"
                            type="file"
                            id="msmeFile"
                            accept="image/*"
                            name="msmeFile"
                            (change)="callGetImgFunction($event,'msmeFile')"
                        />
       
                  </div>
              </div>
    
              <div class="col-12 col-md-6 d-flex justify-content-center mt-3" >
                    <div class="log-in-wrap bank-details ">
                        <h4 class="px-2 mt-4 text-left"><i class="fas fa-university mr-2"></i><b>Bank Details</b></h4>
                        <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                            <!-- <input type="text" pattern="[A-Za-z]+" class="c-input-base" placeholder="Enter Account Holder Name *"
                                style="border: none; width: 300px;" id="Enter Account Holder Name *" class="form-control" formControlName="accountHolderName" > -->
                      
                                <input type="text" pattern="[A-Za-z]+" class="c-input-base form-control" placeholder="Enter Account Holder Name *"
                                style="border: none; width: 300px;" id="accountHolderName" formControlName="accountHolderName">
                            
                            </div>
                        <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                            <input type="number" class="c-input-base" placeholder="Bank Account Number *"
                                style="border: none; width: 300px;" id="Account Holder Name" class="form-control" formControlName="accountNumber" >
                        </div>
                        <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                            <input type="text" class="c-input-base" placeholder="Branch IFSC Code *"
                                style="border: none; width: 300px;" class="form-control" formControlName="branchIfscCode">
                        </div>
                    </div>
                
                  
                <div class=" log-in-wrap d-flex flex-column text-center bank-details-upload" style="width: 70px; margin-top: 30px;">
                    <small class="text-primary pt-3 "><u>Upload<br>Docs <i class="fa fa-info-circle" aria-hidden="true"></i></u></small>
                            <div class="d-flex flex-column">
                                <i title="Remove" class="fa fa-times-circle text-danger text-right close_icon" type="button" id="bankDocimgclose" style="display: none;" (click)="callcloseImageFunction('bankDoc','bankDocUploadBtn','bankDocimg','bankDocimgclose')" aria-hidden="true" ></i>  
                                <img src="" class="border text-center mx-auto mb-2 upload_img" id="bankDocimg" alt="" >
                            </div>
                          <label for="bankDoc" class="form-label bankDoc_upload_icon">
                            <i title="Upload Cancelled Cheque/Passbook Here" type="button" id="bankDocUploadBtn" class="bi bi-file-earmark-arrow-up-fill fa-3x"></i>
                          </label>
                          <span id="cancel_cheque" class="text-center d-flex flex-wrap " style="font-size: 10px;display: block;margin-top: 10px ;">(Upload Image of a Cancelled Cheque or a Passbook)</span>
                          <input
                            class="form-control d-none"
                            type="file"
                            id="bankDoc"
                            accept="image/*"
                            name="bankDocFile"
                            (change)="callGetImgFunction($event,'bankDoc')"
                          />
                </div>
              </div>
    
              <div class="col-12 col-md-4 d-flex justify-content-center mt-3">
                  <div class="log-in-wrap store_address" >
                      <h4 class="px-2 mt-4 text-left"><i class="fas fa-university mr-2"></i><b>Store Address</b></h4>
    
                      <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input type="text" class="c-input-base" placeholder="Shop No, Market Name *"
                              style="border: none; width: 300px;" id="Account Holder Name" class="form-control" formControlName="address1" >
                      </div>
                      <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input type="text" class="c-input-base" placeholder="Dist, State - Pincode *"
                              style="border: none; width: 300px;" id="Account Holder Name" class="form-control" formControlName="address2" >
                      </div>
                      <div class="c-input-base d-flex justify-content-start align-items-center my-2">
                          <input type="text" class="c-input-base" placeholder="Landmark (optional)" class="form-control" formControlName="landmark"
                              style="border: none; width: 300px;">
                      </div>
                  </div>
              </div>
    



            <div class="container">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="log-in-wrap service_offer_inner" style="width: auto;">
                            <h4 class="px-2 mt-4 text-left"><i class="fas fa-bars mr-2"></i><b>Service Offered</b></h4>
                            <div class="container-checkbox">
                                <div class="cat action d-flex flex-row flex-wrap" id="checkboxContainer">
                                    <!-- Use a unique identifier for each checkbox -->
                                    <div class="container">
                                        <div class="cat action d-flex flex-row flex-wrap" *ngFor="let web of websiteList">
                                            <label class="checkbox-label mr-3">
                                                <input id="cat" type="checkbox" [value]="web.name" (change)="onCheckboxChange($event)"><span>{{web.name}}</span>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Add more checkboxes as needed -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



              
              <div class="col-12 col-md-6 d-flex justify-content-left mt-3  service_offers_div ">
            
                <div class="log-in-wrap service_offer_inner" style="width: auto;">
                  
                   <!-- <ul class="ks-cboxtags" > -->
                          <!-- <li><input type="checkbox" id="checkboxOne" [value]="web.name"><label (change)="onCheckboxChange($event)">{{web.name}}</label></li> -->
                          <!-- <div class="container">
                              <div *ngFor="let web of websiteList" class="row">
                                 <div class="col-8 col-chk"><input type="checkbox" name="{{web.name}}" (change)="onchange()"></div>
                                 <div class="col-35"><label>{{web.name}}</label></div>
                              <ul class="ks-cboxtags"> -->
                          <!-- <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label for="checkboxOne">Rainbow Dash</label></li>
      <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" (change)="onCheckboxChange($event)"><label for="checkboxTwo">Cotton Candy</label></li>
      <li><input type="checkbox" id="checkboxThree" value="Rarity" ><label for="checkboxThree">Rarity</label></li>
      <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label for="checkboxFour">Moondancer</label></li>
      <li><input type="checkbox" id="checkboxFive" value="Surprise"><label for="checkboxFive">Surprise</label></li> -->
                        <!-- </ul>
                    </div>
                  </div> -->
                    <!-- <div class="form-group">
      
                      <label for="website">Website:</label>
      
                      <div *ngFor="let web of websiteList">
      
                        <label>
      
                          <input type="checkbox" [value]="web.id" (change)="onCheckboxChange($event)" />
      
                          {{web.name}}
      
                        </label>
      
                      </div>
      
                  </div> -->
      
      
      
      
                     <!-- <div class="my-3 px-1 d-inline justify-content-left mx-30 ml-2 last">
                         <div class="inner__div d-inline">
                            <span class="d-inline-flex">Do you offer Express Delivery ?<br/>
                                (Average lead time 24-36 hrs)&nbsp;&nbsp;</span>
        
                         </div>
                         <div class="d-inline">
                       <span class="yc-form  d-inline-flex !important mt-2 ">
                        <input type="radio" class="form-control" formControlName="expressDeliveryFlag" id="yes" [value]="true"><label for="yes">Yes</label>
                        <input type="radio" class="form-control" formControlName="expressDeliveryFlag" id="no" [value]="false"><label for="no">No</label>
                      </span>   
                    </div> 
                      </div>
     -->

     <div class="my-3 px-1 d-flex align-items-center">
        <span class="d-inline">Do you offer Express Delivery ?<br/>(Average lead time 24-36 hrs)&nbsp;&nbsp;</span>
        <span class="yc-form d-inline-flex !important ">
            <input type="radio" class="form-control" formControlName="expressDeliveryFlag" id="yes" [value]="true"><label for="yes">Yes</label>
            <input type="radio" class="form-control ml-2" formControlName="expressDeliveryFlag" id="no" [value]="false"><label for="no">No</label>
        </span>
    </div>
    
    

                    <div class="my-3 px-1 d-flex justify-content-left " style="align-items: center;">
                        <span>When is your weekly off ?&nbsp;&nbsp;</span>
      
                        <select id=""
                             aria-label=".form-select-lg example" formControlName="weeklyOff" class="select__btn">
                            <option value="">Choose</option>
                            <option value="Mon">Mon</option>
                            <option value="Tue">Tue</option>
                            <option value="Wed">Wed</option>
                            <option value="Thur">Thur</option>
                            <option value="Fri">Fri</option>
                            <option value="Sat">Sat</option>
                            <option value="Sun">Sun</option>
                        </select>
                    </div>
                  </div>
              </div>
      
    
          </div>
       
            
          
      </div>
    <!-- <div class="container-fluid mb-5">
          <div class="text-center mx-auto">
            <button class="clorev-btn-base px-4" class="btn btn-success" type="submit" (click)="submitVendorForm()" >Submit</button>&nbsp;&nbsp;&nbsp;
           <button class="clorev-btn-base px-4" class="btn btn-primary" type="submit" (click)="uploadfiles()">Continue</button> -->
              <!-- <button class="clorev-btn-base px-4" type="submit" >Register</button>
          </div>
      </div> -->
    
      <div class="container-fluid mb-5">
        <div class="text-center mx-auto">
        <div class="col-sm-3 div__submit_btn" style="margin-top:5px;">

            <!-- <button class="btn__submit my-0" (click)="redirectToSuccessComponent()">
                SUBMIT
                <img src="../../../assets/images/paper-plane-icon.png" class="add_to_cart_img" alt=""
                  style="position: relative; left: 5px;">
              </button>
              
              <div *ngIf="successMessageVisible" class="main__div">
                <img src="../../../assets/images/right-click.gif" alt="">
                <h2>Congratulations! You have successfully submitted your Vendor Registration Form for CLOREV Laundry.</h2>
                <h2>Your documents are under review, our Business Development team will get back to you in due course.</h2>
              </div> -->

              <button class="btn__submit my-0" (click)="openModal(successModal)" >SUBMIT</button>

<ng-template #successModal let-modal>
  <!-- <div class="modal-header"> 
    <h4 class="modal-title">Success!</h4>
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"> 
      <span aria-hidden="true">&times;</span>
    </button> 
  </div>
  <div class="modal-body">
    <img src="../../../assets/images/right-click.gif" alt="" height="250px" width="250px">
    <h2>Congratulations! You have successfully submitted your Vendor Registration Form for CLOREV Laundry.</h2>
    <h2>Your documents are under review, our Business Development team will get back to you in due course.</h2>
  </div> -->


<div class="outer_div_sucess">
    <div class="main__div">
        <img src="../../../assets/images/ezgif.com-gif-maker (3).gif" alt="" >
        <h2 >Congratulation! You have successfully submitted your<br/> Vendor Registration Form for CLOREV Laundry.</h2>
        <h2>Your documents are under review , our Business <br/> Development team will get back to you in due course.</h2>
    </div>
</div>
</ng-template>

              

              
              
              
            </div>
        </div>
    </div>
    </form>
    
    <app-upload-files [idval]=resmsg 
    [uploadfiles]="registerForm" *ngIf="loadcomponent"></app-upload-files>
    
    
    <!-- <footer class="footer-section">
        <div class="container-fluid">
            <div class="footer-content pt-5 pb-3">
                <div class="footer-content-inner">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <h2 class="text-uppercase text-white ">Information</h2>
                                <div class="row">
                                    <div class="col sectionB">
                                        <div class="d-flex justify-content-start align-items-center pb-3 mt-2 ">
                                            <div class="d-flex">
                                                <div class="mr-3">
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="margin-bottom: 0;">
                                                        <a href="#!"> About</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                            <div class="d-flex">
                                                <div class="mr-3">
                                                    <i class="fa fa-question" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="margin-bottom: 0;">
                                                        <a routerLink="/faq" style="color:black;">FAQs </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center pb-2 mt-2">
                                            <div class="d-flex">
                                                <div class="mr-3">
                                                    <i class="fa fa-inbox" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="margin-bottom: 0;">
                                                        <a href="#!">Blogs</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                            <div class="d-flex terms">
                                                <div class="mr-3">
                                                    <i id="i2" class="fa fa-get-pocket" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="margin-bottom: 0;">
                                                        <a href="/terms-and-conditions">Terms of Use</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center pb-3 mt-2 ">
                                            <div class="d-flex">
                                                <div class="mr-3">
                                                    <i id="i2" class="fa fa-lock" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="margin-bottom: 0;">
                                                        <a href="#!">Privacy Policy</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                            <div class="d-flex">
                                                <div class="mr-3">
                                                    <i id="i2" class="fa fa-envelope-open" aria-hidden="true"></i>
                                                </div>
                                                <div>
                                                    <p style="margin-bottom: 0;">
                                                        <a href="#!">Responsible Disclosure Policy</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-6 contactus">
                                <h2 class="text-uppercase text-white">Contact Us</h2>
                                <div class="d-flex justify-content-start align-items-center mt-2">
                                    <div>
                                        <img src="../../../assets/images/location.png" alt="" 
                                            style="width: 35px; height: 35px;">
                                    </div>
                                    <div>
                                        <p style="margin-bottom: 0;" class="pl-4">
                                            31, 2nd floor, Sant Nagar, East of Kailash , New Delhi -
                                            110065 (India)</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mt-3">
                                    <div>
                                        <img src="../../../assets/images/support1.png" alt=""
                                            style="width: 35px;height: 35px;">
                                    </div>
                                    <div>
                                        <p class="pl-4"> <a href="mailto:support@clorev.com" 
                                                style="margin-bottom: 0px; color: #000;">support@clorev.com</a><br />
                                            <a href="tel:+91-97599 99055" style="color: #000;">+91-97599 99055</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="clearfix"></div>
                        <div style="height: 2px; background-color: black;"></div>
                        <div class="footer-copyright text-center pt-3">© 2023 CLOREV Laundry: All right reserved. </div>
                    </div>
                </div>
            </div>
    
    </footer> -->

    <app-footer></app-footer>
    <!-- <style>
.modal-header {
  background-color:black;
  border-bottom: none;
  height: 100%;
  width: 100%;
  color: aliceblue;
}

.modal-title {
  font-weight: 600;
}

.modal-body {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: black;
  color: aliceblue;

}
    </style> -->

    <style>
       
    
            
        .outer_div_sucess {
  background-color: black ;
  
  
}

            div{
                text-align: center;
            }
            div.main__div {
                position: absolute;
                top: -300px;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
               
                }
           img{
                height: 200px;
                width: 200px;
                /* position: relat  ive;
                /* animation-iteration-count:initial; */
                /* animation-play-state:paused ;         */
                background-color: none;
                margin-top: 25px;
            }
            h2{
                font-weight:550;
                font-family: 'Roboto', sans-serif;
                color: white;
                width: 790px;
                margin-left: -140px;
                /* background-color: black; */
            }
           
        </style>