/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";


$primary-color1: #e62841;
$primary-color2: #b9041c;
$primary-color3: #fe8e9c;
$primary-offset-color1: #ffffff;
$primary-offset-color2: #a4a4a4;
$primary-offset-color3: #333333;
$secondary-color1: #88e5db;
$secondary-color2: #60c8bc;
$secondary-color3: #15a292;
$secondary-offset-color1: #ffd674;
$secondary-offset-color2: #ffc947;
$secondary-offset-color3: #ffb300;

html{
    font-family: 'Lato', sans-serif !important; 
    --ion-font-family:  'Lato', sans-serif !important; 
}
.paddingAll-5{
    padding: 5px;
}
.padding-0{
    padding: 0px;
}
.padding-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.fullheight {
    height: 100%;
    width: 100%;
}
.fullwidth {
    width: 100% !important;
}
.inputStyle1{    
    border: 2px solid $secondary-offset-color1;
    border-radius: 9px;
    box-shadow: 3px 3px 3px #d250619c;
    width: 230px;
}

.buttonstyle1{
    width: 130px;
    --background: $primary-color2;
    --border-radius: 9px;
    background: $primary-color2;
    border-radius: 9px;
    box-shadow: 3px 3px 3px #695457c4;
}
.buttonStyle{
    height: 40px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #695457c4;
    background: $secondary-color3;
  }
  .buttonfonts{
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }

.inputFont1{
  font-size: 18px;
  color: $primary-offset-color1;
}
.white{
    color: $primary-offset-color1;
}    
.black {
    color: $primary-offset-color3;
}
.grey {
    color: $primary-offset-color2;
}
.primary2 {
    color: $primary-color2;
}
.secondary-offset-color3{
   color: $secondary-offset-color3
}
.bold{
    font-weight: bold;
}
.header1{
    font-size: 26px;;
}
.header2{
    font-size: 20px;
}
.header3{
    font-size: 16px;
}
.header4{
    font-size: 12px;
}
.header5{
    font-size: 14px;
}
ion-slides{
    height: 100%;
    width: 100%;
    --bullet-background: #b9041c;
    --bullet-background-active: #ffd674;
  }
.bgpadding{
    padding: 10%;
}
.bgpadding5{
    padding: 5%;
}
.bgpadding4{
    padding: 4%;
}
.bgpadding3{
    padding: 3%;
}
.bgpadding2{
    padding: 2%;
}
.bgpadding1{
    padding: 1%;
}
.bgsidepadding5{
    padding: 0 5%;
}
.bgsidepadding4{
    padding: 0 4%;
}
.bgsidepadding3{
    padding: 0 3%;
}
.bgsidepadding2{
    padding: 0 2%;
}
.bgsidepadding1{
    padding: 0 1%;
}
.pageBg{
    background: linear-gradient($primary-color1, $primary-color3);
}
.center{
    text-align: center;
}
.right{
    float: right;
}
.inline{
    display: inline-block;
}
.typeIcon{
    height: 10px;
    width: 10px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-right: 2px;
}
.vegIcon{
    background: url('~/src/assets/icon/veg.png');  
}
.nonvegIcon{
    background: url('~/src/assets/icon/nonveg.png');  
}

.cardDesign{   
    margin: 10px 0px;
    padding: 10px;
    border-radius: 11px;
    box-shadow: 1px 2px 3px;
    &:nth-child(odd){
        background: $primary-color3;
    }
    &:nth-child(even){
        background: $secondary-color1;
    }
}