.outline-border{
    margin: auto;
    margin-top:50px;
    margin-bottom: 100px;
    border: 3px solid white;
    border-radius: 45px;
    width: 85vw;
    position: relative;
    padding-bottom: 5%; 
    
}


h2{
    padding-bottom: 2%;
    color: white;
}
.outline-border h2{
    padding: 14px;
    /* border: 3px solid rgb(137, 193, 245); */
    border-radius: 30px;
    text-align: center;
    width: 250px;
    position: absolute;
    background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);
    left: 50%;
    top: -35px;
    /* top: -35px; */
    transform: translate(-50%);
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
}
.terms-para{
    margin:30px 20px 30px 20px;
    font-size:14px;
    font-weight: 500;
    margin-top: 2rem;
    /* padding-top: 3%; */
    text-align: justify;

     
    /*------------------------ salect option off -----------------------*/


    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
.p__welcome{
  /* margin:30px -35px; */
  margin:30px 0px 0px -30px;
  font-size:14px;
    font-weight: 500;
    margin-top: 2rem;
    /* padding-top: 3%; */
    text-align: justify;

}
.divider{
    background-color:rgb(0, 200, 255);
    margin-left: 20px;
    margin-right: 20px;
    

}
.address-email-link{
    color:rgb(0, 200, 255);
    border-bottom:2px solid  rgb(0, 200, 255);;
}

h6{
    font-weight: 700;
}

p{
    padding-left: 2.2%;
    
}
.innerpara{
    padding-left: 3.7%;
}



/* footer css */

.footer-section {
    background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);
    position: relative;
    font-family: 'Helvetica1';
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-content-inner {
    max-width: 1280px;
    margin: auto;
  }
  
  ul>li{
    list-style-type: none;
    margin-top: 15px;
  }
  a:hover{
  color: black!important;
  }
  p{
    color: black !important;
  }
  
  i{
    width: 16px;
    height: 15px;
  }
  
  a{
  color:black;
  }
  
  
  /* #i2{
  margin-right: 15px;
   margin-left: 95px;
  } */
  
  @media  only screen  and (max-width:768px) {
    
    .contactus{
      margin-top: 40px;
    }
  }
  
  @media only screen and (min-width:992px){
    .sectionB{
      max-width: 200px;
    }
    .containt__point{
     
    
      padding-left: 40px;

    }
    .contain__force{
      margin-left: 40px;
    }
  }
  