<!-- <app-header></app-header> -->
<app-navbar></app-navbar>
<!-- <div class="sticky-top">
    <div>
        
        <section class="top-strip py-1"
            style="background: linear-gradient(to top right, rgba(0,200,255,1), rgba(0,200,255,1));">
            <div class="container-fluid d-none d-lg-block">
                <div class="row px-1">
                    <div class="col-5 d-flex justify-content-start align-items-center">

                        <div style="color: black;"> <img src="../../../assets/images/mail-icon.png" alt="">
                            contact@clorev.com</div>
                        <div style="width: 2px; height: 25px; background-color: black; margin-left: 15px;"></div>
                        <div class="pl-3" style="color: black;"><img src="../../../assets/images/call.png" class="pr-1"
                                alt="">+91 97599 99055</div>

                    </div>
                    <div class="col-3 text-center d-flex justify-content-center align-items-center">
                        <div style="width: 100px;" class="d-inline-block mx-2">
                            <a href="#"><img src="../../../assets/images/appstore-down.png"
                                    alt="Download from apple store" class="img-fluid down-btn"></a>
                        </div>
                        <div style="width: 100px;" class="d-inline-block mx-2">
                            <a href="#"><img src="../../../assets/images/playstore-down.png"
                                    alt="Download from play store" class="img-fluid down-btn"></a>
                        </div>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <a href="#"><img src="../../../assets/images/linkedin.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/youtube.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/fb.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/instagram.png" alt="Facebook handle"
                                class="social-icons px-1"></a>

                        <a href="#"><img src="../../../assets/images/twitter.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                    </div>
                </div>
            </div>
        </section>

    </div> -->
    <!--x Top Strip x-->


    <!-- Navbar 1 
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3"
        style="background-color: rgb(14, 14, 14) !important;">
        <a class="navbar-brand" routerLink="/home" style="margin: 0px;"><img src="../../../assets/images/logo.png"
                alt="Clorev logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item user-profile">
                    <a class="nav-link sign px-3" href="#" style="color: var(--clorev-primary);"><i
                            class="fas fa-user"></i>
                        SIGN IN</a>
                    <div class="opt-menu">
                        <div class="user-info p-3 pl-5 pb-4">
                            <h5>Sudhir Mishra</h5>
                            <p class="mb-0">sudhirgrm09@gmail.com</p>
                            <p class="mb-0">+91-9929371023</p>
                            <button class="edit-profile-btn">Edit profile</button>
                        </div>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Order history</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>My Address</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Rating and reviews</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Saved cards</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Notifications</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <button class="btn btn-primary w-100 log-out">Log out</button>


                    </div>
                </li>
                <div
                    style="width: 2px; height: 30px; background-color: #00c8ff; margin-left: 0px; margin-right: 15px; position: relative; top: 6px;">
                </div>
                <li class="nav-item">
                    <a href="#"><img src="../../../assets/images/cart-icon.png" alt=""></a>
                </li>

            </ul>
        </div>
    </nav>
    x Navbar 1 
</div> -->

<!-- terms-and-conditions -->


<div class="term-and-conditions">
    <div class="outline-border">
        <h2>PRIVACY POLICY</h2>
        <div class="terms-para">
            <p class="p__welcome"><b><i>Version 1.0; last updated on 15<sup>th</sup> May 2023</i></b></p>
            <p class="p__welcome">We value the trust you place in us and recognize the importance of secure transactions and information privacy. This Privacy Policy describes how Clorev Clothing Private Limited and its affiliates
                (collectively <span><b>"CLOREV Laundry"</b></span>, <span><b>"We"</b></span>,<span><b> "Us"</b></span>,<span><b>"Our"</b></span>) collect, use, share, protect or otherwise process your personal information through CLOREV Laundry website ‘www.clorev.com’ and mobile
                application ‘CLOREV : All Your Nearby Laundry & Dry-Cleaners in Your Mobile’ (collectively the <span><b>"Platform"</b></span>). This document is an electronic record in terms of Information Technology Act, 2000 and
                rules made thereunder as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This document is published
                in accordance with the provisions of Rule 3(1)(a) of the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021 that require publishing the rules and regulations,
                privacy policy and terms of use for access or usage of the Platform. The Platform is owned by Clorev Clothing Private Limited, having its registered office at Kh. No.-18/9, D-Block, Qutub Vihar Phase-
                2, South West Delhi, Delhi – 110071 (India) and its working office at 31, 2nd Floor, Sant Nagar, East of Kailash, Delhi – 110065 (India).</p>

            <p class="p__welcome">Please read this Privacy Policy prior to using or registering on the Platform or submitting any personal information on the Platform. This Privacy Policy is a part of and incorporated within, and is to be
                read in conjunction with, the <a class="address-email-link" routerLink="/terms-and-conditions">Terms of Use</a>. All capitalized terms used herein, however not defined under this Privacy Policy, shall have the meaning ascribed to them under the Terms of Use. By
                visiting this Platform, providing your information or availing any product/service offered on the Platform, and clicking on the ‘Request OTP’ button and verifying with the ‘one time password (OTP)’
                received by You (<span><b>"You"</b></span>, <span><b>“Your”</b></span>,<span><b> "User"</b></span> or<span><b> “Consumer”</b></span> as applicable) on Your registered mobile on the Platform, You expressly agree to be legally bound by the terms and conditions of this Privacy
                Policy, the Terms of Use, and agree to be governed by the laws of India including but not limited to the laws applicable to data protection and privacy.
            </p>

            <p class="p__welcome">We reserve the right, at Our sole discretion, to change, modify, add or remove portions of this Privacy Policy, at any time without any prior written notice to You. You will ensure to review this Privacy
                Policy periodically for updates/changes. However, We will alert you to significant changes by posting the date Our Privacy Policy got last updated, by sending You push notifications, or an email when
                we are required to do so by applicable law.
            </p>

        </div>
        <hr class="divider">
        <div class="terms-para">
            <h6>1.&nbsp; &nbsp; Collection of Your Information :</h6><br>
            <div class="para1">
                <p><b>1.1)&nbsp; &nbsp;&nbsp; Personal Information</b> : We collect various information from You when You access or visit the Platform, register or set up an Account on the Platform or use the Platform. You may provide
                    certain information to Us voluntarily while registering on the Platform for availing Services including but not limited to Your complete name, mobile number, email address, date of birth, gender,
                    age, address details, proof of identity such as Permanent Account Number (PAN), passport, driving license, the voter's identity card, or any other document recognized by the Government of India
                    for identification, and Know-Your-Customer (KYC) details to check your eligibility for certain products & services and any other information voluntarily provided through the Platform. The act of
                    providing Your information is voluntary in nature and We hereby agree and acknowledge that We will collect, use, store, transfer, deal with and share such details in compliance with applicable
                    laws and this Privacy Policy.

                </p>

                <p><b>1.2)&nbsp; &nbsp; &nbsp;Sensitive Personal Information</b> : Sensitive Personal Information : Some of the sensitive personal information such as (i) your bank account or credit or debit card or other payment instrument information (ii) biometric
                    information (iii) sexual orientation (iv) physical, physiological and mental health condition (v) medical records and history (vi) password (vii) any other information that may be regarded as Sensitive
                    Personal Information as per the prevailing law for the time being in force. Any information that is freely available or accessible in public domain or furnished under the Right to Information Act,
                    2005 or any other law for the time being in force shall not be regarded as Sensitive Personal Information.
                    </p>

                <p><b>1.3)&nbsp; &nbsp; &nbsp;Transactional Information</b> : If You choose to avail the Services through the Platform, We will also collect and store information about Your transactions including transaction status, order
                    history, number of transactions, details and Your behaviour or preferences on the Platform. All transactional information gathered by Us shall be stored on servers, log files and any other storage
                    system owned by any of Us or by third parties. To the extent possible, We provide You the option of not divulging any specific information that You wish for Us not to collect, store or use.
                </p>


                <p><b>1.4)&nbsp; &nbsp; &nbsp;Device Information</b> : In order to improve our Services to you, we may collect information or employ third party plugins that collect information about the devices you use to access our
                    Services, including the hardware models, operating systems and versions, software, file names and versions, preferred languages, unique device identifiers, advertising identifiers, serial numbers,
                    device motion information, mobile network information, installed applications on device and phone state. The information collected thus will be disclosed to or collected directly by these plugins
                    and may be used to improve the content and/or functionality of the services offered to you. 
                </p>

                <p><b>1.5)&nbsp; &nbsp; &nbsp;Browsing Information</b> : We may track Your buying behaviour, preferences, and other information that you choose to provide on our Platform. We use this information to do research on our
                    users' demographics, interests, and behaviour to better understand and serve Our users. This information is compiled and analysed on an aggregated basis. This information may include the URL
                    that you just came from (whether this URL is on our Platform or not), which URL you next go to (whether this URL is on our Platform or not), your computer browser information, and your Internet
                    Protocol (IP) address. We may use Your IP address to identify You and to gather broad demographic information. Your IP address is used to also help diagnose problems with Our server, resolve
                    such problems and administer the Platform.</p>

                <p><b>1.6)&nbsp; &nbsp; &nbsp;Location Information</b> : When and if You download and/or use the Platform through Your mobile, tablet, and/or any other computer sources or electronic devices, We may receive
                    information about Your location, Your IP address, including a unique identifier number for Your device. The information You provide may be used to provide You with location-based Services
                    including but not limited to search results and other personalized content. If You permit the Platform to access Your location through the permission system used by Your device operating system,
                    the precise location of Your device when the Platform is running in the foreground or background may be collected. You can withdraw Your consent at any time by disabling the location -tracking
                    functions on Your device. However, this may affect Your experience of certain functionalities on the Platform.</p>
    

                    <p><b>1.7)&nbsp; &nbsp; &nbsp;Push Notifications</b> : We may send push notification to Users to let them know including but not limited to order confirmation, delivery status, payment reminders or details of a new
                        campaign / discounts. If you are a User who no longer want these communications to be sent, please turn off the push notifications on Your Device.</p>
            </div>


    

        <hr class="divider">
        <div class="terms-para">
            <h6>2.&nbsp; &nbsp;Cookie Policy :</h6><br>
            <p><b>2.1)</b>&nbsp; &nbsp; &nbsp; We use data collection devices such as "cookies" on certain pages of the Platform to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety.
                "Cookies" are small files placed on your hard drive that assist us in providing our services. Cookies do not contain any of your personal information. We offer certain features that are only available
                through the use of a "cookie". We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your
                interests. Most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session.</p>
            <p><b>2.2)</b>&nbsp; &nbsp; &nbsp;You are always free to decline such cookies if Your browser permits, although in that case, You may not be able to use certain features or Services being provided on the Platform. To
                modify your cookie settings, please visit your browser’s settings. By using our Services with your browser settings to accept cookies, you are consenting to our use of cookies in the manner
                described in this section.</p>
            <p><b>2.3)</b>&nbsp; &nbsp; &nbsp;Additionally, You may also encounter “cookies” or other similar devices on certain pages of the Third-Party Sites and it is hereby clarified by the Company that the Platform does not control
                the use of cookies by these Third-Party Sites. These third-party service providers and Third-Party Sites may have their own privacy policies governing the storage and retention of Your information
                that You may be subject to. We use cookies from third-party partners such as Google Analytics for marketing and analytical purposes. Google Analytics helps us understand how our customers
                use the site. You can read more about how Google uses your Personal Information here:<a class="address-email-link" href="https://www.google.com/intl/en/policies/privacy/"> https://www.google.com/intl/en/policies/privacy/</a>. You can also opt-out of Google Analytics here:
                <a class="address-email-link" href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.</p>
        </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>3.&nbsp; &nbsp; Use of Your Information :</h6><br>
            <p><b>3.1)</b>&nbsp; &nbsp; &nbsp;We use Information collected from You, for the following:<br><br>
                <span>
                    <table>
                        <tr>
                            <td class="containt__point">(i)</td>
                            <td class="containt__point">to provide and improve the Services on the Platform that You request;</td>
                        </tr>
                        <tr>
                            <td class="containt__point">(ii)</td>
                            <td class="containt__point"> to assist Our service providers and delivery partners in handling and fulfilling orders, to the extent required;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(iii)</td>
                            <td class="containt__point"> for internal business purposes and services, including but not limited to, delivery services, IT support services, and data analysis services;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(iii)</td>
                            <td class="containt__point"> for internal business purposes and services, including but not limited to, delivery services, IT support services, and data analysis services;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(iv)</td>
                            <td class="containt__point"> to collect money from You in lieu of the Services offered by Us,</td>
                        </tr>
                        

                        <tr>
                            <td class="containt__point">(v)</td>
                            <td class="containt__point">to resolve disputes, administer our service and diagnose/ troubleshoot technical problems;</td>
                        </tr>
                        
                        <tr>
                            <td class="containt__point">(vi)</td>
                            <td class="containt__point">to help promote a safe service on the Platform and protect the security and integrity of the Platform, the Services and the Users;</td>
                        </tr>
                        
                        <tr>
                            <td class="containt__point">(vii)</td>
                            <td class="containt__point">to design and improve the products and Services and customer relationship management processes;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(viii)</td>
                            <td class="containt__point">to inform You about online and offline offers, products, services, and updates;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(viii)</td>
                            <td class="containt__point">to inform You about online and offline offers, products, services, and updates;</td>
                        </tr>
                        <tr>
                            <td class="containt__point">(ix)</td>
                            <td class="containt__point">to customize Your experience on the Platform or share marketing material with You;</td>
                        </tr>
                        <tr>
                            <td class="containt__point">(x)</td>
                            <td class="containt__point">to detect, prevent and protect Us from any errors, fraud and other criminal or prohibited activity on the Platform;</td>
                        </tr>


                        <tr>
                            <td class="containt__point">(xi)</td>
                            <td class="containt__point">to process and fulfil Your request for Services or respond to Your comments, and queries on the Platform;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xii)</td>
                            <td class="containt__point">to contact You through email, SMS, WhatsApp, telephone, and any other mode of communication in respect of the Services;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xiii)</td>
                            <td class="containt__point">to convey important notices or changes in the Services and/or Use of the Platform;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xiv)</td>
                            <td class="containt__point">to enforce and inform about Our Terms and Policies or changes therein time to time;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xv)</td>
                            <td class="containt__point">to conform to the legal requirements, compliance/reporting to regulatory authorities, as may be required and to comply with applicable laws;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xvi)</td>
                            <td class="containt__point">to carry out Our obligations and enforce Our rights arising from any contract entered into between You and Us;</td>
                        </tr>

                        
                        <tr>
                            <td class="containt__point">(xvi)</td>
                            <td class="containt__point">to carry out Our obligations and enforce Our rights arising from any contract entered into between You and Us;</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xvii)</td>
                            <td class="containt__point">to carry out research with relevant partners; and</td>
                        </tr>

                        <tr>
                            <td class="containt__point">(xviii)</td>
                            <td class="containt__point">for any other purpose after obtaining Your consent at the time of collection.</td>
                        </tr>
                        </table>


                     
                
                </span>
            </p>
                        <p><b>3.2)</b>&nbsp; &nbsp; &nbsp;Our primary goal in collecting Your Information is to provide You a safe, efficient, smooth, and customized experience. This allows us to provide services and features that most likely meet
                            your needs, and to customize our Platform to make your experience safer and easier. In general, you can browse the Platform without telling us who you are or revealing any personal information
                            about yourself. Once you give us your personal information, you are not anonymous to us. Wherever possible, we indicate which fields are required and which fields are optional. You always have
                            the option to not provide information, by choosing not to use a particular service or feature on the Platform.</p>

            <p><b>3.3)</b>&nbsp; &nbsp;&nbsp;We may use Your information to send You promotional emails, however, We will provide You the ability to opt-out of receiving such emails from Us. Nevertheless, You will not be able to
                opt-out of receiving administrative messages, customer service responses or other transactional communications. We will not share Your Personal Information with another user of the Platform
                and vice versa without Your express consent.</p>

                <p><b>3.4)</b>&nbsp; &nbsp;&nbsp;If you choose to post messages on Our message boards, chat rooms or other message areas or leave feedback/ service review, We will collect and store such information You provide to
                    Us. Please note such messages posted by You will be in public domain and can be read by others as well, please exercise caution while posting such messages, personal details, and reviews.
                    We retain this information as necessary to resolve disputes, provide customer support, respond to queries, for internal research and troubleshoot problems as permitted by law.</p>


                    <p><b>3.5)</b>&nbsp; &nbsp;&nbsp;If You send us correspondence, such as emails or letters, or if other users or third parties send us correspondence about Your activities or postings on the Platform, We may collect and
                        retain such information into a file specific to You for responding to Your request and addressing concerns in relation to Your use of the Platform. We shall be entitled to retain Your Personal
                        Information and other information for such duration as may be required for the purposes specified hereunder and will be used only in accordance with this Privacy Policy.</p>


                        <p><b>3.6)</b>&nbsp; &nbsp;&nbsp;In Our efforts to continually improve Our service offerings, We will occasionally ask you to complete surveys conducted either by us or through a third- party market research agency. These
                            surveys may ask you for personal information, contact information, gender, date of birth, demographic information (like pin code, age, or income level), attributes such as your interests, household
                            or lifestyle information, and other such information that you may choose to provide. Participation in these surveys is purely voluntary in nature. We use this data to tailor your experience at our
                            Platform, providing you with content that we think you might be interested in and to display content according to your preferences.</p>

                            <p><b>3.7)</b>&nbsp; &nbsp;&nbsp;Use of our Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. We do not knowingly solicit or collect personal information from
                                children under the age of 18 years. If you have shared any personal information of children under the age of 18 years, you represent that you have the authority to do so and permit us to use the
                                information in accordance with this Privacy Policy.</p>
                        
        </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>4.&nbsp;&nbsp; Sharing of Your Information :</h6><br>
            <p><b>4.1)&nbsp; &nbsp;&nbsp; Third Party Service Providers : </b>We may disclose Your Personal Information to third party vendors, delivery partners, consultants, partners for carrying out research and other service
                providers who work for either of Us or provide Services through the Platform and are bound by contractual obligations to keep such Personal Information confidential and use it only for the
                purposes for which it has been disclosed to them and maintain the same level of data protection that is adhered to by Us. This disclosure may be required, for instance, to provide You access to
                the Services and process payments including validation of Your Payment Details, to facilitate and assist marketing and advertising activities/initiatives, for undertaking auditing or data analysis, or
                to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to the Services. You expressly consent to the sharing of Your information with third party service providers,
                including payment gateways, to process payments and manage Your payment-related information. We do not disclose Your Personal Information to third parties for their marketing and advertising
                purposes without Your explicit consent.</p>

            <p><b>4.2)&nbsp; &nbsp;&nbsp;Compliance with Law : </b>We may disclose Your information including Personal Information, to the extent necessary: (i) to comply with laws, regulatory requirements and to respond to lawful
                requests and legal process or an investigation, (ii) to protect Our rights and property, the Users, and others, including to enforce the Terms or to prevent any illegal or unlawful activities, and (iii) in
                an emergency to protect Our personal safety and assets the Users, or any person. In all such events, We shall in no manner be responsible for informing You or seeking Your approval or consent.
                We may also share aggregated anonymized (and de-identified) information with third parties at Our discretion.</p>

            <p><b>4.3)&nbsp; &nbsp;&nbsp; Acquisition Sale or Merger : </b>We may, in compliance with applicable laws, share all Your Personal Information (including Sensitive Personal Information) and other information with any
                other business entity(ies), in the event of a merger, sale, reorganization, amalgamation, joint ventures, restructuring of business or transfer or disposition of all or any portion of any of Us. Should
                such a transaction occur, that other business entity (or the new combined entity) will be required to follow this Privacy Policy with respect to Your Personal Information.</p>


            <p><b>4.4)&nbsp; &nbsp;&nbsp; Seamless User Experience : </b>In the event the license agreement is terminated or the territory of the license is modified or limited in any manner, We may share any or all Your Personal
                Information (including Sensitive Personal Information, if any) with the incoming licensee for the continuity of smooth operation of the Platform and seamless user experience.</p>

            <p><b>4.5)&nbsp; &nbsp;&nbsp;</b>You also specifically agree and consent to Us for collecting, storing, processing, transferring, and sharing information (including Personal Information and Sensitive Personal Information)
                related to You with third parties such as with entities registered under applicable laws including payment gateways and aggregators, solely for Us to provide Services to You including processing
                Your transaction requests for the Services or to improve Your experience on the Platform.</p>
           

            </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>5.&nbsp;&nbsp;&nbsp;Data Security Precautions :</h6><br>
            

                <p><b>5.1)</b>&nbsp; &nbsp;&nbsp; Please be aware that the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security
                    of your data transmitted through the Website. Once we have received your information, we will use strict physical, electronic, and procedural safeguards to try to prevent unauthorized access. We
                    take reasonable precautions and follow industry best practices to protect your Personal Information from loss, misuse, unauthorized access, disclosure, alteration, or destruction, in compliance
                    with applicable laws.</p>
    
                <p><b>5.2)</b>&nbsp; &nbsp;&nbsp; We use vault and tokenization services from third party service providers to protect the sensitive personal information provided by you. The third-party service providers with respect to our
                    vault and tokenization services and our payment gateway and payment processing are compliant with the payment card industry standard (generally referred to as PCI compliant service
                    providers). You are advised to not send your full credit/debit card details through unencrypted electronic platforms. You are responsible for keeping the details confidential, where we have given
                    you (or where you have chosen) a username and password which enables you to access certain parts of our Platform. Please be advised to not share your password with anyone including the
                    agents, employees or representatives of CLOREV Laundry.</p>
    
                <p><b>5.3)</b>&nbsp; &nbsp;&nbsp;If you receive an e-mail, a call from a person/association claiming to be from CLOREV Laundry seeking sensitive personal information like debit/credit card PIN, net-banking or mobile
                    banking password, We request you to never provide such information. We at CLOREV Laundry or Our affiliate logistics partner do not at any time connect with you requesting for such information.
                    If you have already revealed such information, report it immediately to an appropriate law enforcement agency.</p>
    
                <p><b>5.4)</b>&nbsp; &nbsp;&nbsp; Notwithstanding anything contained in this Privacy Policy or elsewhere, CLOREV Laundry shall not be held responsible for:<br>
                    
                    <table>
                        <tr>
                            <td class="containt__point">(i)</td>
                            <td class="containt__point">  any security breaches on third-party websites or applications or for any actions of third-parties that receive Your Personal Information; or</td>
                        </tr>
                        <tr>
                            <td class="containt__point">(ii)</td>
                            <td class="containt__point"> any loss, damage, or misuse of Your Personal Information, if such loss, damage, or misuse is attributable to a Force Majeure Event. For the purpose of this Privacy Policy, a
                               </td>
                        </tr>
                    </table>
                   <div class="contain__force"> “Force Majeure Event” shall mean any event that is beyond Our reasonable control and shall include, acts of God, fires, explosions, wars or other hostilities, insurrections, revolutions,
                    strikes, labour unrest, earthquakes, floods, pandemic, epidemics or regulatory or quarantine restrictions, unforeseeable governmental restrictions or controls or a failure by a third party
                    hosting provider or internet service provider or on account of any change or defect in the software and/or hardware of Your computer system.
        </div>
                    

            
               
    
                  
        </div>

        <hr class="divider">
        <div class="terms-para">
            <h6>6.&nbsp;&nbsp; Links to Thired-Party Sites:</h6><br>

            <p><b>6.1)</b>&nbsp; &nbsp;&nbsp; Our Platform may contain links to other websites (“Third-Party Sites”). Any personal information about You (including but not limited to, IP address, browser specification, or operating
                system) collected whilst visiting such websites is not governed by this Policy. We will not be in any manner responsible for and have no control over the practices and content of any Third-Party
                Site accessed using the links contained on Our Platform. This Privacy Policy shall not apply to any information You may disclose to any of Our service providers/service personnel which We do
                not require You to disclose to Us or any of Our Service Providers under this Privacy Policy.</p>

            <p><b>6.2)</b>&nbsp; &nbsp;&nbsp;We may use third-party advertising companies to serve ads when You visit Our Platform. These companies may use information (not including Your name, address, email address, or
                telephone number) about Your visits to Our Platform and other websites in order to provide advertisements about goods and services of Your interest. You agree and acknowledge that We are not
                liable for the information published in search results or by any Third-Party Sites.</p>

                  </div>
        <hr class="divider">
        <div class="terms-para">
            <h6>7.&nbsp;&nbsp; Your Consent,Withdrawal and Data retention :</h6><br>
            <p><b>7.1)&nbsp; &nbsp;&nbsp; Your Consent : </b>By visiting our Platform or by providing Your information, You consent to the collection, use, storage, disclosure and otherwise processing of Your information (including
                sensitive personal information) on the Platform in accordance with this Privacy Policy. All information disclosed by You shall be deemed to be disclosed willingly and without any coercion. We will
                not be liable to the authenticity, genuineness, misrepresentation, fraud, negligence of the information disclosed nor will We be in any way responsible to verify any information obtained from You. If
                You disclose to Us any personal information relating to other people, You represent that You have the authority to do so and permit s to use the information in accordance with this Privacy Policy. </p>

            <p><b>7.2)&nbsp; &nbsp;&nbsp; Withdrawal of Consent : </b>You may choose to withdraw Your consent provided hereunder by writing to Grievance Officer (refer clause 8.1) via email with the subject line “Withdrawal of
                Consent”. Please note, however, that withdrawal of consent will not be retroactive and will be in accordance with this Privacy Policy, related Terms of Use and applicable laws. In the event You
                withdraw consent given to Us under this Privacy Policy, We reserve the right to restrict or deny the provision of Our Services for which We consider such information to be necessary. </p>
            <p><b>7.3)&nbsp; &nbsp;&nbsp; Data Retention : </b> We retain your personal information for a period no longer than is required for the purpose for which it was collected or as required under any applicable law. However, we
                may retain data related to you if there is a legal obligation to retain the data; if required to comply with any applicable statutory or regulatory retention requirement by law; if we believe it may be
                necessary to prevent fraud or future abuse; to enable CLOREV Laundry to exercise its legal rights and/or defend against legal claims; or for other legitimate purposes. We may continue to retain
                your data in anonymized form for analytical and research purposes.<p>
            
        </div>

    


        <hr class="divider">
        <div class="terms-para">
            <h6>8.&nbsp;&nbsp; Grievances and Queries:</h6><br>
            <p><b>8.1)</b>&nbsp; &nbsp;&nbsp;If you have any queries, concerns, or complaints in relation to collection or usage of your personal information under this Privacy Policy, please contact our Grievance Officer at details
                provided below. We shall endeavour to respond promptly, however except where required by law, We cannot ensure a response regarding topics unrelated to this Privacy Policy or our privacy
                practices.</p>


            <p>
                Mr. Sudhir Mishra
                <br>
                Clorev Clothing Private Limited,
                <br>
                Kh. No.-18/9, D-Block, Qutub Vihar Phase-2, South West Delhi, New Delhi – 110071  (India)
            </p>

            <p>
                +91-97599 99055
                <br>
                 Time: Mon – Sat (9:00 – 18:00 hrs)
                <br>
                <a class="address-email-link"
                    href="mailto:grievance@clorev.com">grievance@clorev.com</a>
            </p>

            <p><b>8.2)</b>&nbsp; &nbsp;&nbsp;Further, please be noted that the Platform stores your data on the cloud platform of Amazon Web Services, Inc., which may store this data on their servers located outside of India. Amazon
                Web Services has security measures in place to protect the loss, misuse and alteration of the information (refer <a class="address-email-link" href="https://aws.amazon.com">https://aws.amazon.com</a>) and the privacy policy adopted by Amazon Web Services
                are detailed in <a class="address-email-link" href="https://aws.amazon.com/privacy">https://aws.amazon.com/privacy</a>. In the event of any queries or concerns about the security measures adopted by Amazon Web Services, you may contact their data protection /
                privacy team / legal team or designated grievance officer (details are available in its privacy policy), or can also write to our Grievance Officer at details provided above.</p>


        </div>
        <!-- Footer Section -->
        
        <!-- Footer Section -->
    </div>
</div>
   
    
<!-- <footer class="footer-section">
    <div class="container-fluid">
        <div class="footer-content pt-5 pb-3">
            <div class="footer-content-inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <h2 class="text-uppercase text-white ">Information</h2>
                            <div class="row">
                                <div class="col sectionB">
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2 ">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a href="#!"> About</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <i class="fa fa-question" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a routerLink="/faq" style="color:black;">FAQs </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-2 mt-2">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <i class="fa fa-inbox" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a href="#!">Blogs</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                        <div class="d-flex terms">
                                            <div class="mr-3">
                                                <i id="i2" class="fa fa-get-pocket" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a href="/terms-and-conditions">Terms of Use</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2 ">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <i id="i2" class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a href="#!">Privacy Policy</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center pb-3 mt-2">
                                        <div class="d-flex">
                                            <div class="mr-3">
                                                <i id="i2" class="fa fa-envelope-open" aria-hidden="true"></i>
                                            </div>
                                            <div>
                                                <p style="margin-bottom: 0;">
                                                    <a href="#!">Responsible Disclosure Policy</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 contactus">
                            <h2 class="text-uppercase text-white">Contact Us</h2>
                            <div class="d-flex justify-content-start align-items-center mt-2">
                                <div>
                                    <img src="../../../assets/images/location.png" alt="" 
                                        style="width: 35px; height: 35px;">
                                </div>
                                <div>
                                    <p style="margin-bottom: 0;" class="pl-4">
                                        31, 2nd floor, Sant Nagar, East of Kailash , New Delhi -
                                        110065 (India)</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3">
                                <div>
                                    <img src="../../../assets/images/support1.png" alt=""
                                        style="width: 35px;height: 35px;">
                                </div>
                                <div>
                                    <p class="pl-4"> <a href="mailto:support@clorev.com" 
                                            style="margin-bottom: 0px; color: #000;">support@clorev.com</a><br />
                                        <a href="tel:+91-97599 99055" style="color: #000;">+91-97599 99055</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="clearfix"></div>
                    <div style="height: 2px; background-color: black;"></div>
                    <div class="footer-copyright text-center pt-3">© 2023 CLOREV Laundry: All right reserved. </div>
                </div>
            </div>
        </div>

</footer> -->

<app-footer></app-footer>