<div >
    <div >
        <!-- Top Strip -->
        <section class="top-strip py-1"
            style="  background: linear-gradient(to top right, rgba(0,200,255,1), rgba(0,200,255,1));">
            <div class="container-fluid d-none d-lg-block">
                <div class="row px-1">
                    <div class="col-5 d-flex justify-content-start align-items-center">

                        <div style="color: black;"> <img src="../../../assets/images/mail-icon.png" alt="">
                            <a class="email-link" href="mailto:contact@clorev.com">contact@clorev.com</a>
                        </div>
                        <div style="width: 2px; height: 25px; background-color: black; margin-left: 15px;"></div>
                        <div class="pl-3" style="color: black;"><img src="../../../assets/images/call.png" class="pr-1"
                                alt="">+91 XXX-XXXX-XXX</div>

                    </div>
                    <div class="col-3 text-center d-flex justify-content-center align-items-center">
                        <div style="width: 100px;" class="d-inline-block mx-2">
                            <a href="#" data-toggle="modal" data-target="#applink"><img
                                    src="../../../assets/images/appstore-down.png" alt="Download from apple store"
                                    class="img-fluid down-btn"></a>
                        </div>
                        <div style="width: 100px;" class="d-inline-block mx-2">
                            <a href="#" data-toggle="modal" data-target="#applink"><img
                                    src="../../../assets/images/playstore-down.png" alt="Download from play store"
                                    class="img-fluid down-btn"></a>
                        </div>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <a href="#"><img src="../../../assets/images/whatsapp.png" alt="Facebook handle"
                            class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/linkedin.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/youtube.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/fb.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/instagram.png" alt="Facebook handle"
                                class="social-icons px-1"></a>

                        <a href="#"><img src="../../../assets/images/twitter.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--x Top Strip x-->




    <!-- Navbar 1 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3"
        style="background-color: rgb(14, 14, 14) !important;">
        <a class="navbar-brand" href="#" style="margin: 0px;"><img src="../../../assets/images/Logo-GIF.gif"
                alt="Clorev logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item user-profile">
                    <a class="nav-link sign px-3" href="#" style="color: var(--clorev-primary);" data-toggle="modal"
                        data-target="#signinmodal"><i class="fas fa-user"></i>
                        SIGN IN</a>

                    <!-- <div class="opt-menu">
                        <div class="user-info p-3 pl-5 pb-4">
                            <h5>Sudhir Mishra</h5>
                            <p class="mb-0">sudhirgrm09@gmail.com</p>
                            <p class="mb-0">+91-9929371023</p>
                            <button class="edit-profile-btn">Edit profile</button>
                        </div>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Order history</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>My Address</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Rating and reviews</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Saved cards</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Notifications</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>

                        <button class="btn btn-primary w-100 log-out">Log out</button>


                    </div> -->
                </li>
                <div
                    style="width: 2px; height: 30px; background-color: #00c8ff; margin-left: 0px; margin-right: 15px; position: relative; top: 6px;">
                </div>
                <li class="nav-item">
                    <a href="#"><img src="../../../assets/images/cart-icon.png" alt=""></a>
                </li>

            </ul>
        </div>
    </nav>
    <!--x Navbar 1 x-->
</div>

<!-- Navbar 2 -->
<nav class="fixed-top navbar navbar-expand-lg navbar-light"
    style="background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%); color: black;margin-Top:8%">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link">SERVICES</a>
                <!-- <ul class="drop-menu">
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                </ul> -->
            </li>
            <div
                style="width: 2px; height: 25px; background-color: black; margin-left: 0px; position: relative; top: 6px;">
            </div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rate-list">RATE LIST</a>
                <!-- <ul class="drop-menu">
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                </ul> -->

            </li>
            <div
                style="width: 2px; height: 25px; background-color: black; margin-left: 0px; position: relative; top: 6px;">
            </div>
            <li class="nav-item">
                <a class="nav-link">BOOK NOW</a>
                <!-- <ul class="drop-menu">
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                </ul> -->

            </li>
            <div
                style="width: 2px; height: 25px; background-color: black; margin-left: 0px; position: relative; top: 6px;">
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#">COLLABORATE WITH US</a>
                <ul class="drop-menu">
                    <li class="drop-link"><a routerLink="/service-panel">Register As Service Provider </a></li>
                    <li class="drop-link"><a href="#">Register As Delivery Partner</a></li>
                    <!-- <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li>
                    <li class="drop-link"><a href="#">Dummy Option</a></li> -->
                </ul>

            </li>
            <div
                style="width: 2px; height: 25px; background-color: black; margin-left: 0px; position: relative; top: 6px;">
            </div>
            <form class="form-inline px-3">
                <input class="search-bar" type="search" placeholder="Search">
                <button type="submit" class="search-btn px-2"><img src="../../../assets/images/search.png"
                        alt=""></button>

            </form>

        </ul>
    </div>
</nav>
<!--x Navbar 2 x-->

<div class="container-fluid">

    <div class="row my-5">

        <div class="col-3 mx-auto">

            <div class="card m-2 border" style="height:10rem;border:1px solid gray">
                <ul>
                    <li class="my-2">How to</li>
                    <li class="my-2">Where to</li>
                </ul>    
            </div>

        </div>

        <div class="col-9">

            <div class="accordion" id="accordionExample">
                <div class="card my-2" style="border:3px solid skyblue">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span style="color:black;font-weight:bold">Q-1</span>
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card my-2" style="border:3px solid skyblue">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span style="color:black;font-weight:bold">Q-2</span>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card my-2" style="border:3px solid skyblue">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span style="color:black;font-weight:bold">Q-3</span>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card my-2" style="border:3px solid skyblue">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <span style="color:black;font-weight:bold">Q-4</span>
                        </button>
                      </h5>
                    </div>
                
                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                </div>
                <div class="card my-2" style="border:3px solid skyblue">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <span style="color:black;font-weight:bold">Q-5</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                </div>
                <div class="card my-2" style="border:3px solid skyblue">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <span style="color:black;font-weight:bold">Q-6</span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                </div>
              </div>

        </div>

    </div>

</div>