<app-service-provider-header></app-service-provider-header>
<!-- <div class="sticky-top">
    <div>
        Top Strip 
        <section class="top-strip py-1" style="background: linear-gradient(to top right, rgba(0,200,255,1), rgba(0,200,255,1));">
            <div class="container-fluid d-none d-lg-block">
                <div class="    r+zdfow px-1">
                    <div class="col-5 d-flex justify-content-start align-items-center">
  
                        <div style="color: black;"> <img src="../../../assets/images/mail-icon.png" alt=""> contact@clorev.com</div>
                        <div style="width: 2px; height: 25px; background-color: black; margin-left: 15px;"></div>
                        <div class="pl-3" style="color: black;"><img src="../../../assets/images/call.png" class="pr-1" alt="">+91 XXX-XXXX-XXX</div>
  
                    </div>
                    <div class="col-3 text-center d-flex justify-content-center align-items-center">
                        <div style="width: 100px;" class="d-inline-block mx-2">
                            <a href="#"><img src="../../../assets/images/appstore-down.png" alt="Download from apple store"
                                    class="img-fluid down-btn"></a>
                        </div>
                        <div style="width: 100px;" class="d-inline-block mx-2">
                            <a href="#"><img src="../../../assets/images/playstore-down.png" alt="Download from play store"
                                    class="img-fluid down-btn"></a>
                        </div>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <a href="#"><img src="../../../assets/images/linkedin.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/youtube.png" alt="Facebook handle" class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/fb.png" alt="Facebook handle" class="social-icons px-1"></a>
                        <a href="#"><img src="../../../assets/images/instagram.png" alt="Facebook handle"
                                class="social-icons px-1"></a>
  
                        <a href="#"><img src="../../../assets/images/twitter.png" alt="Facebook handle" class="social-icons px-1"></a>
                    </div>
                </div>
            </div>
        </section>
  
    </div> -->
<!--x Top Strip x-->


<!-- Navbar 1 -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-3"
        style="background-color: rgb(14, 14, 14) !important;">
        <a class="navbar-brand" routerLink="/home" style="margin: 0px;"><img src="../../../assets/images/logo.png" alt="Clorev logo"
                class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
  
                <li class="nav-item user-profile">
                    <a class="nav-link sign px-3" href="#" style="color: var(--clorev-primary);"><i
                            class="fas fa-user"></i>
                        SIGN IN</a>
                    <div class="opt-menu">
                        <div class="user-info p-3 pl-5 pb-4">
                            <h5>Sudhir Mishra</h5>
                            <p class="mb-0">sudhirgrm09@gmail.com</p>
                            <p class="mb-0">+91-9929371023</p>
                            <button class="edit-profile-btn">Edit profile</button>
                        </div>
  
                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Order history</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
  
                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>My Address</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
  
                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Rating and reviews</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
  
                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Saved cards</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
  
                        <a href="#" class="menu-opt">
                            <div class="opt-row pl-5 pr-2 py-2">
                                <span class="d-flex justify-content-between align-items-center">
                                    <span>Notifications</span>
                                    <i class="fas fa-chevron-right float-right"></i>
                                </span>
                            </div>
                        </a>
  
                        <button class="btn btn-primary w-100 log-out">Log out</button>
  
  
                    </div>
                </li>
                <div
                    style="width: 2px; height: 30px; background-color: #00c8ff; margin-left: 0px; margin-right: 15px; position: relative; top: 6px;">
                </div>
                <li class="nav-item">
                    <a href="#"><img src="../../../assets/images/cart-icon.png" alt=""></a>
                </li>
  
            </ul>
        </div>
    </nav> -->
<!--x Navbar 1 x
    </div> -->

<!-- <div class="container sticky-top" style="-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; background:transparent;">
    <div class="row mt-4 ">
        <div class="col-12 text-center">
            <img src="../../../assets/images/choose-service-provider-step.png" alt="" class="img-fluid"
                style="height: 60px; pointer-events: none;">
        </div>
    </div>
</div> -->


<div class="container map my-4" style=" 
  /*------------------------ salect option off -----------------------*/


  -webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none;">
    <div class="row">
         <!-- <div class="col-12 col-md-7">
             <div id="map"></div>
        </div> -->

        <div class="col-12 col-md-5 d-flex flex-column justify-content-start align-items-center " style="margin-left: 730px;">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round">
                    <span class="low-to-high-text">Low to High</span>
                    <span class="high-to-low-text">High to Low</span>
                </span>
            </label>
            

            <ul class="nav nav-pills nav-pills-del-opt mb-3 mt-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        <button class="delivery-opt d-flex justify-content-center align-items-center">
                            <img src="../../../assets/images/regular-del.png" style="width: 60px;"
                                class="pr-2 img-fluid" alt="">
                            <div>
                                <span class="font-weight-bold">Regular</span>
                                <br>
                                <span style="font-size: 14px;">(3-4 days)</span>
                            </div>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        <button class="delivery-opt d-flex justify-content-center align-items-center">
                            <img src="../../../assets/images/express-del.png" style="width: 75px;"
                                class="pr-2 img-fluid" alt="">
                            <div>
                                <span class="font-weight-bold">Express</span>
                                <br>
                                <span style="font-size: 14px;">(1-2 days)</span>
                            </div>
                        </button>
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <!-- Regular Delivery -->
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    style="width: 400px; scroll-behavior: auto !important;">
                    <div class="service-providers-wrapper light-bg w-100 p-3" style="
                    border-radius: 15px;
                    border: 1px solid #ffffffc4;
                    box-shadow: 1px 1px 50px -30px;
                    backdrop-filter: blur(9rem);
                    background: linear-gradient(to right, rgb(0 200 255/44%), #006F8e0a 90%);
                "
                >
                <!-- <div>
                    <div *ngFor="let serviceProvider of serviceProviders" (click)="onServiceProviderSelect(serviceProvider)">
                   
                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <h6 class="font-weight-bold">{{ serviceProvider.name }}</h6>
                            <span class="d-flex justify-content-between align-items-center w-100" style="font-size: 12px;">
                                <span>
                                    <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                                    <span class="service-stars">{{ serviceProvider.rating }}</span>
                                </span>
                                <span class="">{{ serviceProvider.numRatings }} Ratings</span>
                
                                <span>
                                    <span>₹</span>
                                    <span class="service-price"><s>{{ serviceProvider.discountPrice }}</s></span> /-
                                </span>
                                <span>
                                    <span>₹</span>
                                    <span class="service-price">{{ serviceProvider.price }}</span> /-
                                </span>
                            </span>
                        </div>
                    </div>
                </div> -->



                
                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">600</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">5000</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>


                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">200</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">552</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">2.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">333</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">2400</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">1600</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">6600</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">200</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">900</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">2.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">960</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">480</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Express Delivery -->
                <div class="tab-pane" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    style="width: 400px;">
                    <div class="service-providers-wrapper-two light-bg w-100 p-3">
                        <div class="service-provider d-flex justify-content-between align-items-center ">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">2.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">400</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">600</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">900</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">1100</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">3.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">1300</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">4000</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">2.5</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">960</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="service-provider d-flex justify-content-between align-items-center">
                            <img src="../../../assets/images/washing-mac.png" style="width: 50px;" class="img-fluid"
                                alt="">
                            <div class="d-flex flex-column align-items-start w-100 px-3">
                                <h6 class="font-weight-bold">CRW-01 (DEL)</h6>
                                <span class="d-flex justify-content-between align-items-center w-100"
                                    style="font-size: 12px;">
                                    <span>
                                        <i class="fas fa-star mx-1" style="font-size: 14px;;"></i>
                                        <span class="service-stars">4.0</span>
                                    </span>
                                    <span class="">
                                        (00 Ratings)
                                    </span>
                                    <span>
                                        <span>₹</span>
                                        <span class="service-price">4890</span> /-
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row my-3 w-100">
                <div class="col-12 d-flex justify-content-end">
                    <button style="margin-right:30px;" class="raise-call-btn font-weight-bold" [routerLink]="['/schedule-pickup']">Schedule pickup

                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews Section -->
    <style>
        .sticky {
            position: sticky;
            top: 0;
            overflow: hidden;
        }

        .scrollable {
            overflow-y: scroll;
            max-height: 545px;
        }
    </style>

    <div class="row  light-bg p-3 py-1 sticky" style="
    border-radius: 15px;
    border: 1px solid #ffffffc4;
    box-shadow: 1px 1px 50px -30px;
    backdrop-filter: blur(9rem);
    background: linear-gradient(to right, rgb(0 200 255/44%), #006F8e0a 90%);
">
        <div class="col-6">
            <h4>Consumer Ratings & Reviews</h4>
        </div>

        <div style="width: 100%; height: 2px; background-color: white;"></div>


        <div class="col-2 mt-4">
            <div class="overall-rating-stars d-flex flex-column justify-content-center align-items-center p-2" style="
            box-shadow: 1px 1px 50px -30px;
        ">
                <span style="font-size: 16px; text-align: center;"><strong>CRW 008 (DEL)</strong></span>
                <span style="font-size: 26px;" class="d-flex justify-content-center align-items-center">
                    <span class="font-weight-bold" style="font-size: 34px;">4.2</span>
                    <span>
                        <i class="fas fa-star mx-1 pb-1" style="font-size: 20px;"></i>
                    </span>
                </span>
                <p class="mb-1">(18 Ratings)</p>
                <p class="mb-2">(11 Reviews)</p>
            </div>
        </div>

        <div class="col-5 mt-4">
            <div class="star-percent-bars p-3" style="
            box-shadow: 1px 1px 50px -30px;
        ">
                <div class="5-stars d-flex justify-content-between align-items-center">
                    <span style="width: 40px;">5 <i class="fas fa-star mx-1 pb-1" style="font-size: 14px;"></i></span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 51%" role="progressbar" aria-valuenow=""
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span style="width: 40px;">51 %</span>
                </div>

                <div class="5-stars d-flex justify-content-between align-items-center">
                    <span style="width: 40px;">4 <i class="fas fa-star mx-1 pb-1" style="font-size: 14px;"></i></span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 27%" role="progressbar" aria-valuenow=""
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span style="width: 40px;">27 %</span>
                </div>

                <div class="5-stars d-flex justify-content-between align-items-center">
                    <span style="width: 40px;">3 <i class="fas fa-star mx-1 pb-1" style="font-size: 14px;"></i></span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 14%" role="progressbar" aria-valuenow=""
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span style="width: 40px;">14 %</span>
                </div>

                <div class="5-stars d-flex justify-content-between align-items-center">
                    <span style="width: 40px;">2 <i class="fas fa-star mx-1 pb-1" style="font-size: 14px;"></i></span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 5%" role="progressbar" aria-valuenow=""
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span style="width: 40px;">5 %</span>
                </div>

                <div class="5-stars d-flex justify-content-between align-items-center">
                    <span style="width: 40px;">1 <i class="fas fa-star pb-1"
                            style="font-size: 14px; padding-left: 7px;"></i></span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 3%" role="progressbar" aria-valuenow=""
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span style="width: 40px;">3 %</span>
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 2px; background-color: white; margin-top: 20px; margin-bottom: 10px;"></div>


        <div class="row  scrollable review light-bg" style="margin-left: 3px; background:transparent;">
            <div class="col-12">
                <div class="review-wrap d-flex justify-content-start p-2 mb-1" style="margin: 10px -10px 10px -30px;padding: 30px;margin-left: -27px;background: linear-gradient(to right, rgb(255 255 255),rgb(202 243 255));">
                    <i class="fas fa-question px-3" style="font-size: 30px;"></i>
                    <div class="review">
                        <h5 class="mb-0">Sudhir Mishra</h5>
                        <span style="font-size: 12px;">
                            <p>(Order dtd 21-Sep-2020)</p>
                        </span>
                        <p class="review-message" style="font-size: 14px;">I was very much impressed by the service
                            quality. I always expect on-time pickup & delivery and they stood by it. I couldn't find a
                            single reason to rate them a lower star.</p>
                        <div class="review-reply p-2" style="font-size: 14px;background: linear-gradient(to left, rgb(255 255 255),rgb(202 243 255));">
                            Service Provider Reply: Dear consumer, thank you for taking time to share your feedback. We
                            are glad that you chose our service, and we look forward to serving you again soon.
                        </div>
                    </div>
                    <div class="review-stars d-flex justify-content-center align-items-center">
                        5 <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                    </div>
                </div>
                <div class="review-wrap d-flex justify-content-start p-2 mb-3"style="margin: 10px -10px 10px -30px;padding: 30px;margin-left: -27px;background: linear-gradient(to right, rgb(255 255 255),rgb(202 243 255));">
                    <i class="fas fa-question px-3" style="font-size: 30px;"></i>
                    <div class="review">
                        <h5 class="mb-0">Sudhir Mishra</h5>
                        <span style="font-size: 12px;">
                            <p>(Order dtd 21-Sep-2020)</p>
                        </span>
                        <p class="review-message" style="font-size: 14px;">I was very much impressed by the service
                            quality. I always expect on-time pickup & delivery and they stood by it. I couldn't find a
                            single reason to rate them a lower star.</p>
                        <div class="review-reply p-2" style="font-size: 14px;background: linear-gradient(to left, rgb(255 255 255),rgb(202 243 255));">
                            Service Provider Reply: Dear consumer, thank you for taking time to share your feedback. We
                            are glad that you chose our service, and we look forward to serving you again soon.
                        </div>
                    </div>
                    <div class="review-stars d-flex justify-content-center align-items-center">
                        5 <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                    </div>
                </div>

                <div class="review-wrap d-flex justify-content-start p-2 mb-3" style="margin: 10px -10px 10px -30px;padding: 30px;margin-left: -27px;background: linear-gradient(to right, rgb(255 255 255),rgb(202 243 255));  position: relative; top: -5px;">
                    <i class="fas fa-question px-3" style="font-size: 30px;"></i>
                    <div class="review">
                        <h5 class="mb-0">Sudhir Mishra</h5>
                        <span style="font-size: 12px;">
                            <p>(Order dtd 21-Sep-2020)</p>
                        </span>
                        <p class="review-message" style="font-size: 14px;">I was very much impressed by the service
                            quality. I always expect on-time pickup & delivery and they stood by it. I couldn't find a
                            single reason to rate them a lower star.</p>
                        <div class="review-reply p-2" style="font-size: 14px;background: linear-gradient(to left, rgb(255 255 255),rgb(202 243 255));">
                            Service Provider Reply: Dear consumer, thank you for taking time to share your feedback. We
                            are glad that you chose our service, and we look forward to serving you again soon.
                        </div>
                    </div>
                    <div class="review-stars d-flex justify-content-center align-items-center">
                        5 <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                    </div>
                </div>
                <div class="review-wrap d-flex justify-content-start p-2 mb-3"style="margin: 10px -10px 10px -30px;padding: 30px;margin-left: -27px;background: linear-gradient(to right, rgb(255 255 255),rgb(202 243 255));  position: relative; top: -10px;">
                    <i class="fas fa-question px-3" style="font-size: 30px;"></i>
                    <div class="review">
                        <h5 class="mb-0">Sudhir Mishra</h5>
                        <span style="font-size: 12px;">
                            <p>(Order dtd 21-Sep-2020)</p>
                        </span>
                        <p class="review-message" style="font-size: 14px;">I was very much impressed by the service
                            quality. I always expect on-time pickup & delivery and they stood by it. I couldn't find a
                            single reason to rate them a lower star.</p>
                        <div class="review-reply p-2" style="font-size: 14px;background: linear-gradient(to left, rgb(255 255 255),rgb(202 243 255));">
                            Service Provider Reply: Dear consumer, thank you for taking time to share your feedback. We
                            are glad that you chose our service, and we look forward to serving you again soon.
                        </div>
                    </div>
                    <div class="review-stars d-flex justify-content-center align-items-center">
                        5 <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                    </div>
                </div>

            </div>
            <div class="review-wrap d-flex justify-content-start p-2 mb-3" style="margin: 10px -10px 10px -30px;padding: 30px;margin-left: -27px;background: linear-gradient(to right, rgb(255 255 255),rgb(202 243 255));  position: relative; top: -24px; left: 17px; width: 1199;"> 
                <i class="fas fa-question px-3" style="font-size: 30px;"></i>
                <div class="review">
                    <h5 class="mb-0">Sudhir Mishra</h5>
                    <span style="font-size: 12px;">
                        <p>(Order dtd 21-Sep-2020)</p>
                    </span>
                    <p class="review-message" style="font-size: 14px;">I was very much impressed by the service quality.
                        I always expect on-time pickup & delivery and they stood by it. I couldn't find a single reason
                        to rate them a lower star.</p>
                    <div class="review-reply p-2" style="font-size: 14px;background: linear-gradient(to left, rgb(255 255 255),rgb(202 243 255));">
                        Service Provider Reply: Dear consumer, thank you for taking time to share your feedback. We are
                        glad that you chose our service, and we look forward to serving you again soon.
                    </div>
                </div>
                <div class="review-stars d-flex justify-content-center align-items-center">
                    5 <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                </div>
            </div>

            <div class="review-wrap d-flex justify-content-start p-2 mb-3" style="margin: 10px -10px 10px -30px;padding: 30px;margin-left: -27px;background: linear-gradient(to right, rgb(255 255 255),rgb(202 243 255)); position: relative; left: 17px; top: -38px;">
                <i class="fas fa-question px-3" style="font-size: 30px;"></i>
                <div class="review">
                    <h5 class="mb-0">Sudhir Mishra</h5>
                    <span style="font-size: 12px;">
                        <p>(Order dtd 21-Sep-2020)</p>
                    </span>
                    <p class="review-message" style="font-size: 14px;">I was very much impressed by the service quality.
                        I always expect on-time pickup & delivery and they stood by it. I couldn't find a single reason
                        to rate them a lower star.</p>
                    <div class="review-reply p-2" style="font-size: 14px; background: linear-gradient(to left, rgb(255 255 255),rgb(202 243 255));">
                        Service Provider Reply: Dear consumer, thank you for taking time to share your feedback. We are
                        glad that you chose our service, and we look forward to serving you again soon.
                    </div>
                </div>
                <div class="review-stars d-flex justify-content-center align-items-center">
                    5 <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                </div>
            </div>
            <!-- Repeat the above review-wrap divs for each review entry -->
        </div>



    </div>
</div>



<!-- Footer Section -->

<!-- Footer Links -->
<app-footer></app-footer>


<!-- Footer Section -->



<!-- JQuery Script -->



<div>
    <div *ngFor="let serviceProvider of serviceProviders" (click)="onServiceProviderSelect(serviceProvider)">
   
        <div class="service-provider d-flex justify-content-between align-items-center">
            <h6 class="font-weight-bold">{{ serviceProvider.name }}</h6>
            <span class="d-flex justify-content-between align-items-center w-100" style="font-size: 12px;">
                <span>
                    <i class="fas fa-star mx-1" style="font-size: 14px;"></i>
                    <span class="service-stars">{{ serviceProvider.rating }}</span>
                </span>
                <span class="">{{ serviceProvider.numRatings }} Ratings</span>

                <span>
                    <span>₹</span>
                    <span class="service-price"><s>{{ serviceProvider.discountPrice }}</s></span> /-
                </span>
                <span>
                    <span>₹</span>
                    <span class="service-price">{{ serviceProvider.price }}</span> /-
                </span>
            </span>
        </div>
    </div>
</div>