
<div class="sticky-top mt-0">
    <!-- Top Strip -->
     <section class="sticky-top" style="margin-top:-30px;background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);  
     /*------------------------ salect option off -----------------------*/
 
 
     -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none;">
    
                    <!-- <section style="background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);"> -->
                    <!-- <section style="background: linear-gradient(rgb(0, 200, 255) , #006f8e 90%);"> -->
                        <div class="container-fluid d-none d-lg-block">
                            <div class="row px-1 ">
                                <div class="col-5 d-flex justify-content-start align-items-center ">
        
                                     <div class="pl-1" style="color: black;">
                                         <img src="../../../assets/images/envelope-solid (1).png" height="22px" width="27px" class="pr-1" alt="">
                                        <a  href="mailto:info@clorev.com" style="color: #000;"> info@clorev.com</a>
                                    </div>
                                    <div style="width: 2px; height: 25px; background-color: black; margin-left: 15px;"></div>
                                    <div class="pl-3" style="color: black;">
                                        <img src="../../../assets/images/call.png" class="pr-1" alt="">
                                        <a href="tel:+91-97599 99055" style="color: #000;">+91-97599 99055</a>
                                    </div>
        
        
                                </div>
                                <div class="col-3 text-center d-flex  align-items-center">
                                    <div style="width: 100px;" class="d-inline-block mx-2">
                                        <a href="#" data-toggle="modal" data-target="#applink"><img
                                                src="../../../assets/images/appstore-down.png" alt="Download from apple store"
                                                class="img-fluid down-btn"></a>
                                    </div>
                                    <div style="width: 100px;" class="d-inline-block mx-2">
                                        <a href="#" data-toggle="modal" data-target="#applink"><img
                                                src="../../../assets/images/playstore-down.png" alt="Download from play store"
                                                class="img-fluid down-btn"></a>
                                    </div>
                                </div>
                                <div class="col-4 text-right d-flex justify-content-end align-items-center">
                                    <!-- <a href="#"><img src="../../../assets/images/whatsapp.png" alt="Facebook handle"
                                                    class="social-icons px-1"></a> -->
                                    <!-- <a href="#"><img src="../../../assets/images/whatsapp.png" alt="Facebook handle" class="social-icons px-1"></a> -->
                                    <a href="https://www.linkedin.com/company/clorevlaundry"><img
                                            src="../../../assets/images/linkedin.png" alt="Facebook handle"
                                            class="social-icons px-1"></a>
                                    <a href="https://www.youtube.com/@clorevlaundry"><img
                                            src="../../../assets/images/youtube.png" alt="Facebook handle"
                                            class="social-icons px-1"></a>
                                    <a href="https://www.facebook.com/clorevlaundry"><img src="../../../assets/images/fb.png"
                                            alt="Facebook handle" class="social-icons px-1"></a>
                                    <a href="https://www.instagram.com/clorevlaundry"><img
                                            src="../../../assets/images/instagram.png" alt="Facebook handle"
                                            class="social-icons px-1"></a>
        
                                    <a href="https://twitter.com/@ClorevLaundry"><img src="../../../assets/images/twitter.png"
                                            alt="Facebook handle" class="social-icons px-1"></a>
                                </div>
                            </div>
                        </div>
                    </section>
          
        
        
            <!-- Navbar 1 -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light px-3 sticky-top "
                style="background-color: rgb(14, 14, 14) !important;  box-shadow: 0px 0px 30px 0px #111;">
                <div class="logo-box">
                    <a class="navbar-brand website_logo" href="#" style="margin: 0px;">
                        <img class="" src="../../../assets/images/CLOREV Logo_Website.png" alt="Clorev logo" class="img-fluid">
        
                    </a>
                    <a class="navbar-brand mobile_logo" href="#" style="margin: 0px;display: none;">
                        <img style="max-height: 56px;" src="../../../assets/images/256x256 razorpay.png" alt="Clorev logo"
                            class="img-fluid">
                    </a>
        
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                </div>
        
                
                <div class="col-8 d-flex justify-content-start align-items-center " style="
                position: relative;
                /* left: 44px; */
            ">
                    <img src="../../../assets/images/2.Vendor List Page.png" alt="" class="img-fluid"
                        style="height: 50px; pointer-events: none; margin-left:25vw">
                </div>
                
        
        
                <!-- <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button> -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item user-profile align-middle">
                            <a class="nav-link sign px-2" href="" style="color:black;" (mouseenter)="onMouseEnter($event)"
                                data-toggle="modal" data-target="#login">
                                SIGN IN<i class="fa fa-user-circle fa-lg ml-2 mx-1" aria-hidden="true"></i></a>
        
                            <!-- <div class="opt-menu">
                                                <div class="user-info p-3 pl-5 pb-4">
                                                    <h5>Sudhir Mishra</h5>
                                                    <p class="mb-0">sudhirgrm09@gmail.com</p>
                                                    <p class="mb-0">+91-9929371023</p>
                                                    <button class="edit-profile-btn">Edit profile</button>
                                                </div>
                        
                                                <a href="#" class="menu-opt">
                                                    <div class="opt-row pl-5 pr-2 py-2">
                                                        <span class="d-flex justify-content-between align-items-center">
                                                            <span>Order history</span>
                                                            <i class="fas fa-chevron-right float-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                        
                                                <a href="#" class="menu-opt">
                                                    <div class="opt-row pl-5 pr-2 py-2">
                                                        <span class="d-flex justify-content-between align-items-center">
                                                            <span>My Address</span>
                                                            <i class="fas fa-chevron-right float-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                        
                                                <a href="#" class="menu-opt">
                                                    <div class="opt-row pl-5 pr-2 py-2">
                                                        <span class="d-flex justify-content-between align-items-center">
                                                            <span>Rating and reviews</span>
                                                            <i class="fas fa-chevron-right float-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                        
                                                <a href="#" class="menu-opt">
                                                    <div class="opt-row pl-5 pr-2 py-2">
                                                        <span class="d-flex justify-content-between align-items-center">
                                                            <span>Saved cards</span>
                                                            <i class="fas fa-chevron-right float-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                        
                                                <a href="#" class="menu-opt">
                                                    <div class="opt-row pl-5 pr-2 py-2">
                                                        <span class="d-flex justify-content-between align-items-center">
                                                            <span>Notifications</span>
                                                            <i class="fas fa-chevron-right float-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                        
                                                <button class="btn btn-primary w-100 log-out">Log out</button>
                        
                        
                                            </div> -->
                        </li>
                        <!-- <div style="width: 2px; height: 30px; background-color: #00c8ff; margin-left: 0px; margin-right: 15px; position: relative; top: 6px;">
                                        </div> -->
                        <!-- <li class="nav-item">
                                            <a href="#"><img src="../../../assets/images/cart-icon.png" alt=""></a>
                                        </li> -->
        
                    </ul>

                    
        
                </div>
                <!-- <div class="nav-bar">
                                    hello
                                </div> -->
            </nav>
            <!--x Navbar 1 x-->
        </div>
        
        
        <!-- Login Modal Starts -->
        <div class="modal fade" id="login">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content form-wrapper">
                    <div class="close-box" data-dismiss="modal">
                        <i class="fa fa-times fa-2x"></i>
                    </div>
                    <div class="container-fluid mt-5">
                        <form action="" method="post" id="LoginForm">
                            <div class="form-group text-center">
                                <h4 class="whiteh4">Login</h4>
                                <!-- <h6>Enter your credentials</h6> -->
                            </div>
        
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text" id="basic-addon1">+91</span> -->
                                    <select class="selectedCountryCode" [(ngModel)]="selectedCountryCode">
                                        <option value="IN"  [selected]="selectedCountryCode === 'IN'">+91</option>
                                        <option value="US">+1</option>
                                        <option value="UK">+44</option>
                                        <!-- Add more country codes as needed -->
                                    </select>
        
                                </div>
                                <!-- <input type="number" class="form-control" placeholder="Enter Mobile Number" aria-label="Enter Mobile Number"> -->
                                <div class="material-textfield">
                                    <!-- <input placeholder=" " class="form-control outlined" type="number" maxlength="10"> -->
                                    <input  type="text"
                                    id="myInput"
                              
                            
                                    (input)="onInputChange()" class="form-control outlined" id="mob-input" type="text" [(ngModel)]="phoneNumber"
                                        (input)="checkPhoneNumber()" (keydown)="handleKeyDown($event)" placeholder="Enter " >
                                    <!-- <label class="outlined_label">Mobile Number</label> -->
                                    <button class="clear-button" [hidden]="isButtonHidden" [disabled]="isButtonDisabled" (click)="clearInput()" (click)="onTimesUp()">
                                        &#10006;
                                      </button>
                                </div>
                            </div>
        
        
                            <div class="form-check mb-3">
                                <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                                <!-- <label class="form-check-label" for="flexCheckDefault">
                                                I have read and do hereby agree to the <span style="color: var(--clorev-primary);"><a href="#">Terms of Use</a></span>
                                                and <span style="color: var(--clorev-primary);"><a href="#">Privacy Policy</a></span> of CLOREV
                                            </label> -->
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{ buttonText1 }}<span style="color: var(--clorev-primary);"><a href="http:/terms-and-conditions" class="colora">
                                            Terms of
                                            Use</a></span>
                                    and <span style="color: var(--clorev-primary);"><a href="http:/privacy-policy" class="colora">Privacy
                                            Policy</a></span> of CLOREV Laundry.
                                     </label>
        
                            </div>
                            <div class="mb-3 row">
                                <!-- <label for="staticEmail" class="col-sm-7 col-form-label" style="color: var(--clorev-primary);">Change Mobile Number</label> -->
                                <div class="base-timer" [hidden]="isTimerHidden">
                                    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <g class="base-timer__circle">
                                            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                                            <path id="base-timer-path-remaining" [attr.stroke-dasharray]="circleDasharray"
                                                class="base-timer__path-remaining" d="
                                                    M 50, 50
                                                    m -45, 0
                                                    a 45,45 0 1,0 90,0
                                                    a 45,45 0 1,0 -90,0
                                                  "></path>
                                        </g>
                                    </svg>
                                    <span id="base-timer-label" class="base-timer__label">{{ formatTime(timeLeft) }}</span>
                                </div>
                                <div class="col-sm-5">
                                    <!-- <button class="btn btn-info form-control">Request OTP</button> -->
                                    <!-- <button class="btn btn-info form-control" [disabled]="!isPhoneNumberValid" (click)="startTimer()" [disabled]="!isTimerHidden">Submit</button> -->
                                    <!-- <button class="btn btn-info form-control" [disabled]="!isPhoneNumberValid || !isTimerHidden" (click)="startTimer()">Submit</button> -->
                                    <button class="btn btn-info form-control" [disabled]="!isPhoneNumberValid || !isTimerHidden"
                                        (click)="startTimer()" (click)="changeText()" >{{ buttonText }}</button>
                                </div>
                            </div>
        
                            <div class="mb-3 row">
                                <div class="col-sm-7">
                                    <div class="otp-container">
                                        <input type="text" maxlength="1" class="otp-input" (keyup)="onKeyUp($event, 2)"
                                            [(ngModel)]="input1" autofocus>
                                        <input type="text" maxlength="1" class="otp-input" (keyup)="onKeyUp($event, 3)"
                                            [(ngModel)]="input2">
                                        <input type="text" maxlength="1" class="otp-input" (keyup)="onKeyUp($event, 4)"
                                            [(ngModel)]="input3">
                                        <input type="text" maxlength="1" class="otp-input" (keyup)="onKeyUp($event, null)"
                                            [(ngModel)]="input4">
                                    </div>
                                </div>
                                <div class="col-sm-5 d-flex justify-content-end">
                                    <button class="btn btn-info form-control btnWidht" [disabled]="!isInputsValid"
                                        (click)="start()">Login</button>
                                </div>
                            </div>
        
                            <div class="form-group text-center mt-4">
                                <div class="mb-2">
                                    <div class="left-line"></div>
                                    <span class="span-content-i"><i>or Sign In as</i></span>
                                    <div class="right-line"></div>
                                  </div>
                                <!-- <h6 class="linedraw mb-4"><span>Or Sign In as</span></h6> -->
                                <a href="http:/service-provider" class="mr-3 colora">Service Provider<i class="fas fa-chevron-right fa-lg ml-3"></i>
                                </a> <span style="color: white;">|</span>
                                <a href="#" class="ml-3 colora">Delivery Partner<i class="fas fa-chevron-right fa-lg ml-3"></i> </a>
                                <!-- <a href="#" class="twitter"> <i class="fa fa-twitter fa-lg"></i> </a>
                                      <a href="#" class="github"> <i class="fa fa-github fa-lg"></i> </a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>