<div class="form-inline">
    <form class="container-row">
      <div class="col-md-12">
        <div class="col-md-6">
    
          <label class="form-label" for="customFile" class="text-primary" >Upload your Aadhar No.</label>
          <div style="display: flex;width:50in;">
          <input type="file" class="form-control" >
    
          <div class="file-upload">
    
            <div class="col-md-6">
    
          <input type="button"  value="upload" id="btn-4">
       </div>
      </div>
      </div>
        <div class="container row">
          <div class="col-md-12" class="text-success">
          </div>
      </div>
    </div>
    
        <div class="col-md-6">
        <label class="form-label" for="customFile" class="text-primary">Upload your License No.</label>
        <div style="display: flex;width:50in;">
        <input type="file" class="form-control" >
        <div class="file-upload">
    
            <div class="col-md-6">
              <input type="button" value="upload" id="btn-4">
          </div>
         </div>
        </div>
         <div class="container row">
          <div class="col-md-12" class="text-success">
              
          </div>
      </div>
      </div>
      <div class class="col-md-6">
        <label class="form-label" for="customFile"class="text-primary">Upload your PAN CARD</label>
        <div style="display: flex;width:50in;">
        <input type="file" class="form-control" >
        <div class="file-upload">
    
          <div class="col-md-6">
            <input type="button" value="upload" id="btn-4">
        </div>
       </div>
       </div>
       <div class="container row">
        <div class="col-md-12" class="text-success">
            
        </div>
    </div>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="customFile" class="text-primary">Upload your PF Account file</label>
        <div style="display: flex;width:50in;">
        <input type="file" class="form-control" >
        <div class="file-upload">
    
          <div class="col-md-6">
            <input type="button"  value="upload" id="btn-4">
        </div>
       </div>
      </div>
       <div class="container row">
        <div class="col-md-12" class="text-success">
            
        </div>
    </div>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="customFile" class="text-primary">Upload your Bank account Book</label>
        <div style="display: flex;width:50in;">
        <input type="file" class="form-control" >
        <div class="file-upload">
    
          <div class="col-md-6">
            <input type="button"  value="upload" id="btn-4">
        </div>
       </div>
       </div>
       <div class="container row">
        <div class="col-md-12" class="text-success">
                  </div>
    </div>
      </div>
      <div class="container-fluid mb-5">
        <div class="text-center mx-auto" style="margin-top: 30px;">
          <button class="clorev-btn-base px-4" class="btn btn-success" type="submit" >Register</button>
        </div>
    </div>
    </div>
    </form>
    </div>
    